@using HRApiLibrary.Models._20_Pay

<style>
    .prd-text {
        color: #0d6efd;
        margin-top: 3px;
        padding-right: 15px;
        font-size: smaller;
        width: 50px;
    }
</style>

<div class="row d-flex flex-wrap bordered w-100 py-1 ">
    <div class=" w-140p rw-sm  ">
        Schedule
    </div>

    <div class="w-500p d-flex p-0 ">
        <div class="d-block d-md-none w-140p">
            &nbsp;
        </div>
        @* --- Period 1 -------------------------------------------------------*@
        <div class="form-check form-check-inline align-items-center me-1 d-flex p-0">
            <RadzenCheckBox TValue="bool" @bind-Value="FEGrp!.P1B" Change="() => OnSelectionChanged.InvokeAsync(FEGrp)"  />
            <span class="prd-text d-flex ps-1 p-0" >P1</span>
        </div>

        @* --- Period 2 -------------------------------------------------------*@
        <div class="form-check form-check-inline align-items-center me-1 w-auto d-flex p-0">
            <RadzenCheckBox @bind-Value="FEGrp!.P2B" TValue="bool" Change="() => OnSelectionChanged.InvokeAsync(FEGrp)"/>
            <span class="prd-text d-flex ps-1">P2</span>
        </div>

        @* --- Period 3 -------------------------------------------------------*@
        <div class="form-check form-check-inline align-items-center me-1 w-auto d-flex p-0">
            <RadzenCheckBox @bind-Value="FEGrp!.P3B" TValue="bool" Change="() => OnSelectionChanged.InvokeAsync(FEGrp)"/>
            <span class="prd-text d-flex ps-1">P3</span>
        </div>

        @* --- Period 4 -------------------------------------------------------*@
        <div class="form-check form-check-inline align-items-center me-1 w-auto d-flex p-0">
            <RadzenCheckBox @bind-Value="FEGrp!.P4B" TValue="bool" Change="() => OnSelectionChanged.InvokeAsync(FEGrp)"/>
            <span class="prd-text d-flex ps-1">P4</span>
        </div>

        @* --- Period 5 -------------------------------------------------------*@
        <div class="form-check form-check-inline align-items-center me-1 w-auto d-flex p-0">
            <RadzenCheckBox @bind-Value="FEGrp!.P5B" TValue="bool" Change="() => OnSelectionChanged.InvokeAsync(FEGrp)"/>
            <span class="prd-text d-flex ps-1">P5</span>
        </div>

    </div>

</div>

@code {

    [Parameter] public Fixedearnings_grpModel?                   FEGrp                   { get; set; } = new();
    [Parameter] public EventCallback<Fixedearnings_grpModel>     OnSelectionChanged      { get; set; }



}