@using HRApiLibrary.Models._10_Pis

<table class="table table-sm table-bordered w-100 ">
    <thead class="bg-dark bg-opacity-25 ">
    <tr>
        <th class=" w-10 text-center" scope="col">Sel</th>
        <th class=" w-60" scope="col">Emp. Name</th>
        <th class=" w-30 ps-2" scope="col">Status</th>
    </tr>
    </thead>
    @if (Empmas?.Count > 0)
    {
        foreach (var emp in Empmas!)
        {
            <tr class="p-0 ">
                <td class="text-center p-1 border-start">
                    <RadzenCheckBox TValue="bool" @bind-Value="emp!.Sel" Change="() => ChildAction.InvokeAsync()"  />
                </td>
        

                <td class="p-1"> @emp?.Fullname</td>
                <td class="text-center p-1 border-end">@emp?.EmpStatus</td>

            </tr>    
        }  
    } 
    
</table>

@code {
    [Parameter] public List<EmpmasInternalModel?>?              Empmas              { get; set; } = []; 
    [Parameter] public EventCallback                            ChildAction         { get; set; }

}