@using HRMvc.Applications._02HR.Views.BlazorPages._00Library; 
@using HRMvc.Applications._02HR._02Library

<div class="d-flex"> 
    <div class="p-2 fw-bold">
        Leave Group
    </div>

    <div style="min-width:200px; max-width: 500px;">
        <RadzenDropDown 
            Change          ="(()=>DDChanged())"
            TValue          ="int" 
            @bind-Value     =@V227.Leavegrp!.Id
            Data            =@V227.Leavegrps
            TextProperty    ="Name"
            ValueProperty   ="Id"
            Width           ="100%"
            Name            ="ddLeavegrp" />
    </div>
    
    
    

</div>

@code {

    [Parameter]
    public EventCallback        ChildAction     {get; set; }

    [Parameter]
    public UserClaimsModel      UserClaims      { get; set; } = new();

    string?     pisdb   = string.Empty;
    string?     paydb   = string.Empty;
    string?     conn    = string.Empty;

    [Parameter]
    public V227                 V227            { get; set; } = new();

    [Parameter]
    public      V02             v02             { get; set; } = new();

    async void DDChanged() {

        v02.Action = "LeavegrpId Changed";
        StateHasChanged(); 
        await ChildAction.InvokeAsync();
    }


}
