@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


This is Main

<ul>
    @foreach (var user in User.Claims)
    {
        <li>@user.Type : @user.Value </li>
    }
</ul>

User : 

@User.Claims.Where(c=> c.Type.TrimEnd().Substring(c.Type.TrimEnd().Length-3,3) 
    == "sid").FirstOrDefault()?.Value
