@using HRApiLibrary.Models._20_Pay

<style>
    .prd-text1 {
        color: #0d6efd;
        padding-top: 4px; 
        padding-right: 15px;
        font-size: smaller;
        width: 50px;
    }
</style>

<div class="d-flex flex-wrap w-100 py-1 ">
    @* --- Period 1 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P1B" TValue="bool" Change="PeriodChanged"
                            class="p-0 me-1" />
        </div>
        <div  class="prd-text1" > P1 </div>
    </div>
    
    @* --- Period 2 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P2B" TValue="bool"
                            class="p-0  me-1" Change="PeriodChanged"/>
        </div>
        <div  class="prd-text1" > P2 </div>
    </div>
    
    @* --- Period 3 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P3B" TValue="bool"
                            class="p-0 me-1" Change="PeriodChanged"/>
        </div>
        <div  class="prd-text1" > P3 </div>
    </div>
    
    @* --- Period 4 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P4B" TValue="bool"
                            class="p-0 me-1" Change="PeriodChanged"/>
        </div>
        <div  class="prd-text1" > P4 </div>
    </div>
    
    @* --- Period 5 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P5B" TValue="bool"
                            class="p-0 me-1" Change="PeriodChanged"/>
        </div>
        <div  class="prd-text1" > P5 </div>
    </div>
    
   

</div>

@code {
    [Parameter] public LoansModel?      Prd             { get; set; } = new();
    [Parameter] public EventCallback    ChildAction     { get; set; }

    async void PeriodChanged()
    {
        await ChildAction.InvokeAsync(); 
    }
    
}