/* HRMvc - Global Styles */

.main-wrapper {
    min-height: 100vh;
}

.b-btn-primary {
    background-color: #047959;
    border: 1px solid #047959;
    color: #fff;
    padding: .6rem 1rem;
    font-weight: 600;
    border-radius: 6px;
}

    .b-btn-primary:hover,
    .b-btn-primary:focus {
        background-color: #03634a;
        border-color: #03634a;
        color: #fff;
    }

.pis-leftmenu-header {
    background: linear-gradient(45deg, #606163, #7a7c80, #4a4b4d, #606163);
    color: #faf8f8;
}

.pay-leftmenu-header {
    background: linear-gradient(45deg, #1565c0, #1e88e5, #0d47a1, #1565c0);
    color: #faf8f8;
    border-bottom: 1px solid #14361a;
}

.ams-leftmenu-header {
    background: linear-gradient(45deg, #7dd3fc, #6db7df, #38bdf8, #7dd3fc);
    color: #faf8f8;
    border-bottom: 1px solid #082d52;
}

.leftmenu-header {
    background-size: 300% 100%;
    animation: left-header-bg 9s ease-in-out infinite;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 5px 10px;
    /* border-bottom: 1px solid #e9ecef; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

@keyframes left-header-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
