@* --- Details  ---------------------------- *@
@* **--- Record 1  *@
<div class="rs-dtl-wrapper d-flex p-1">

    <div class="rs-dtl-acct-name">
        Basic Pay
    </div>

    <div class="rs-dtl-rates ">
        <div class="d-flex w-100">

            <div class="p-1 w-25 text-center">
                <RadzenNumeric TValue="double"
                               @bind-Value="V503!.PayrollGroup!.RatePerHr"
                               Min="0"
                               Max="99999"
                               Format="#,##0.00"
                               Placeholder="0"
                               TextAlign="Radzen.TextAlign.End"
                               ShowUpDown=false />
            </div>
            <div class="p-1 w-25 text-center">
                <RadzenNumeric TValue="double"
                               @bind-Value="V503.PayrollGroup.RatePerDay"
                               Min="0"
                               Max="99999"
                               Format="#,##0.00"
                               Placeholder="0"
                               TextAlign="Radzen.TextAlign.End"
                               ShowUpDown=false />
            </div>
            <div class="p-1 w-25 text-center">
                <RadzenNumeric TValue="double"
                               @bind-Value="V503!.PayrollGroup!.RatePerMonth"
                               Min="0"
                               Max="9999999"
                               Format="#,##0.00"
                               Placeholder="0"
                               TextAlign="Radzen.TextAlign.End"
                               ShowUpDown=false />
            </div>
            <div class="p-1 w-25 text-center ">
                <RadzenNumeric TValue="double"
                               @bind-Value="V503!.PayrollGroup!.RatePerHr"
                               Min="0"
                               Max="99999999"
                               Format="#,##0.00"
                               Placeholder="0"
                               TextAlign="Radzen.TextAlign.End"
                               ShowUpDown=false />
            </div>

        </div>

    </div>

    <div class="rs-dtl-btn p-2">
        <RadzenButton Text="Clear" />
    </div>

</div>

@code {

    [Parameter]
    public      V503?           V503        { get; set; } = new(); 

}
