<div class="account-name rs-hdr-account-name">Account Name</div>

<div class="rs-hdr-rates">
    <div class="rs-hdr-border w-100 p-1 ">Rates</div>
    <div class="d-flex w-100">
        <div class="rs-hdr-border-lr p-1 w-25 text-center"> Hour </div>
        <div class="rs-hdr-border-bott rs-hdr-border-right p-1 w-25 text-center"> Day </div>

        <div class="rs-hdr-border-bott p-1 w-25 text-center"> Month </div>
        <div class="rs-hdr-border-lr p-1 w-25 text-center "> Year </div>
    </div>
</div>    