<div class="card shadow bordered-darkgreen mt-2 ">
    <div class="card-header fw-bold bg-success  bg-opacity-25">
        Employee List
    </div>
    
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr class="fw-bold">
            <th scope="col" class="w-50p text-center fw-bold">Mrk</th>
            <th scope="col" class="fw-bold">Emp. No.</th>
            <th scope="col" class="fw-bold">Name</th>
            <th scope="col" class="fw-bold">Status</th>
            <th scope="col" class="fw-bold">Schedule</th>
            <th scope="col" class="fw-bold">Punch IN</th>
            <th scope="col" class="fw-bold">Punch Out</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-center">
                <input type="checkbox"  />
            </th>
            <td>00001</td>
            <td>Juan Dela Cruz</td>
            <td>Active</td>
            <td>800H - 1700H</td>
            <td>0000H</td>
            <td>0000H</td>
        </tr>
        <tr>
            <th scope="row" class="text-center"><input type="checkbox"  /></th>
            <td>00002</td>
            <td>Jose Horacio Dela Cruz</td>
            <td>Active</td>
            <td>800H - 1700H</td>
            <td>0000H</td>
            <td>0000H</td>
        </tr>

        </tbody>
    </table>
</div>
@code {
    
}