html {scroll-behavior: smooth; }
.bg-green {background-color: green; }
.bg-forestgreen {background-color: forestgreen  !important; }


.bordered { border: 1px solid lightgray; }
.bordered-darkgreen { border: 1px solid rgb(5, 90, 49); }

.bordered-top       { border-top: 1px solid lightgray; }
.bordered-bottom    { border-bottom: 1px solid lightgray; }
.bordered-right     { border-right: 1px solid lightgray; }
.bordered-left      { border-left: 1px solid lightgray; }
.bordered-top-darkgreen     { border-top: 1px solid rgb(5, 90, 49); }
.bordered-right-darkgreen   { border-right: 1px solid rgb(5, 90, 49) !important; }
.bordered-bottom-darkgreen  { border-bottom: 1px solid rgb(5, 90, 49); }

.b-red      { border: 1px solid red; }
.b-orange   { border: 1px solid orange; }
.b-blue     { border: 1px solid blue; }
.b-maroon   { border: 1px solid maroon; }
.b-black    { border: 1px solid black; }

.t-maroon   { color: maroon; }

:root {
    --gray-5:   hsl(0, 0%, 5%);
    --gray-10:  hsl(0, 0%, 10%);
    --gray-15:  hsl(0, 0%, 15%);
    --gray-20:  hsl(0, 0%, 20%);
    --gray-25:  hsl(0, 0%, 25%);
    --gray-30:  hsl(0, 0%, 30%);
    --gray-35:  hsl(0, 0%, 35%);
    --gray-40:  hsl(0, 0%, 40%);
    --gray-45:  hsl(0, 0%, 45%);
    --gray-50:  hsl(0, 0%, 50%);
    --gray-55:  hsl(0, 0%, 55%);
    --gray-60:  hsl(0, 0%, 60%);
    --gray-65:  hsl(0, 0%, 65%);
    --gray-70:  hsl(0, 0%, 70%);
    --gray-75:  hsl(0, 0%, 75%);
    --gray-80:  hsl(0, 0%, 80%);
    --gray-85:  hsl(0, 0%, 85%);
    --gray-90:  hsl(0, 0%, 90%);
    --gray-95:  hsl(0, 0%, 95%);
    --gray-100: hsl(0, 0%, 100%);
}

/* Background utilities */
.bg-gray-5   { background-color: var(--gray-5)   !important; }
.bg-gray-10  { background-color: var(--gray-10)  !important; }
.bg-gray-15  { background-color: var(--gray-15)  !important; }
.bg-gray-20  { background-color: var(--gray-20)  !important; }
.bg-gray-25  { background-color: var(--gray-25)  !important; }
.bg-gray-30  { background-color: var(--gray-30)  !important; }
.bg-gray-35  { background-color: var(--gray-35)  !important; }
.bg-gray-40  { background-color: var(--gray-40)  !important; }
.bg-gray-45  { background-color: var(--gray-45)  !important; }
.bg-gray-50  { background-color: var(--gray-50)  !important; }
.bg-gray-55  { background-color: var(--gray-55)  !important; }
.bg-gray-60  { background-color: var(--gray-60)  !important; }
.bg-gray-65  { background-color: var(--gray-65)  !important; }
.bg-gray-70  { background-color: var(--gray-70)  !important; }
.bg-gray-75  { background-color: var(--gray-75)  !important; }
.bg-gray-80  { background-color: var(--gray-80)  !important; }
.bg-gray-85  { background-color: var(--gray-85)  !important; }
.bg-gray-90  { background-color: var(--gray-90)  !important; }
.bg-gray-95  { background-color: var(--gray-95)  !important; }
.bg-gray-100 { background-color: var(--gray-100) !important; }

/*-- Opacity -------------------*/
.op-5 {opacity: 5%; }
.op-10 {opacity: 10%; }
.op-15 {opacity: 15%; }
.op-20 {opacity: 20%; }
.op-25 {opacity: 25%; }
.op-30 {opacity: 30%; }
.op-35 {opacity: 35%; }
.op-40 {opacity: 40%; }
.op-45 {opacity: 45%; }
.op-50 {opacity: 50%; }
.op-55 {opacity: 55%; }
.op-60 {opacity: 60%; }
.op-65 {opacity: 65%; }
.op-70 {opacity: 70%; }
.op-75 {opacity: 75%; }
.op-80 {opacity: 80%; }
.op-85 {opacity: 85%; }
.op-90 {opacity: 90%; }
.op-95 {opacity: 95%; }


.txt-gray-5   { color: var(--gray-5)   !important; }
.txt-gray-10  { color: var(--gray-10)  !important; }
.txt-gray-15  { color: var(--gray-15)  !important; }
.txt-gray-20  { color: var(--gray-20)  !important; }
.txt-gray-25  { color: var(--gray-25)  !important; }
.txt-gray-30  { color: var(--gray-30)  !important; }
.txt-gray-35  { color: var(--gray-35)  !important; }
.txt-gray-40  { color: var(--gray-40)  !important; }
.txt-gray-45  { color: var(--gray-45)  !important; }
.txt-gray-50  { color: var(--gray-50)  !important; }
.txt-gray-55  { color: var(--gray-55)  !important; }
.txt-gray-60  { color: var(--gray-60)  !important; }
.txt-gray-65  { color: var(--gray-65)  !important; }
.txt-gray-70  { color: var(--gray-70)  !important; }
.txt-gray-75  { color: var(--gray-75)  !important; }
.txt-gray-80  { color: var(--gray-80)  !important; }
.txt-gray-85  { color: var(--gray-85)  !important; }
.txt-gray-90  { color: var(--gray-90)  !important; }
.txt-gray-95  { color: var(--gray-95)  !important; }
.txt-gray-100 { color: var(--gray-100) !important; }

.txt-brown  {color: brown !important; }
.txt-white  {color: white !important; }
.txt-darkblue  {color: darkblue !important; }
.txt-darkorange  {color: darkorange !important; }
.txt-darkred  {color: darkred !important; }
.txt-maroon  {color: maroon !important; }
.txt-red  {color: red !important; }
.txt-saddlebrown  {color: saddlebrown !important; }
.txt-lightslategray  {color: lightslategray !important; }
.txt-lightgoldenrodyellow  {color: lightgoldenrodyellow !important; }
.txt-darkgoldenrod  {color: darkgoldenrod  !important; }
.txt-gold  {color:gold  !important; }
.txt-lightred {color: #ffb6b6 !important; }



.disabled-div       { pointer-events: none; opacity: 0.20;  }
.disabled-div-50       { pointer-events: none; opacity: 0.50;  }

.w-5 { width: 5%;}
.w-10 { width: 10%;}
.w-15 { width: 15%;}
.w-20 { width: 20%;}
.w-25 { width: 25%;}
.w-30 { width: 30%;}
.w-35 { width: 35%;}
.w-40 { width: 40%;}
.w-45 { width: 45%;}
.w-50 { width: 50%;}
.w-55 { width: 55%;}
.w-60 { width: 60%;}
.w-65 { width: 65%;}
.w-70 { width: 70%;}
.w-75 { width: 75%;}
.w-80 { width: 80%;}
.w-85 { width: 85%;}
.w-90 { width: 90%;}
.w-95 { width: 95%;}

.w-25p {width:25px; }
.w-30p {width:30px; }
.w-35p {width:35px; }
.w-40p {width:40px; }
.w-45p {width:45px; }
.w-50p {width:50px; }
.w-55p {width:55px; }
.w-60p {width:60px; }
.w-65p {width:65px; }
.w-70p {width:70px; }
.w-75p {width:75px; }
.w-80p {width:80px; }
.w-85p {width:85px; }
.w-90p {width:90px; }
.w-95p {width:95px; }
.w-100p {width:100px; }

.w-105p  {width:105px; }
.w-110p  {width:110px; }
.w-115p  {width:115px; }
.w-120p  {width:120px; }
.w-125p  {width:125px; }
.w-130p  {width:130px; }
.w-135p  {width:135px; }
.w-140p  {width:140px; }
.w-145p  {width:145px; }
.w-150p  {width:150px; }
.w-155p  {width:155px; }
.w-160p  {width:160px; }
.w-165p  {width:165px; }
.w-170p  {width:170px; }
.w-175p  {width:175px; }
.w-180p  {width:180px; }
.w-185p  {width:185px; }
.w-190p  {width:190px; }
.w-195p  {width:195px; }

.w-200p  { width:200px; }
.w-205p  { width:205px; }
.w-210p  { width:210px; }
.w-215p  { width:215px; }
.w-220p  { width:220px; }
.w-225p  { width:225px; }
.w-230p  { width:230px; }
.w-235p  { width:235px; }
.w-240p  { width:240px; }
.w-245p  { width:245px; }
.w-250p  { width:250px; }
.w-255p  { width:255px; }
.w-260p  { width:260px; }
.w-265p  { width:265px; }
.w-270p  { width:270px; }
.w-275p  { width:275px; }
.w-280p  { width:280px; }
.w-285p  { width:285px; }
.w-290p  { width:290px; }
.w-295p  { width:295px; }

.w-300p  { width:300px; }
.w-305p  { width:305px; }
.w-310p  { width:310px; }
.w-315p  { width:315px; }
.w-320p  { width:320px; }
.w-325p  { width:325px; }
.w-330p  { width:330px; }
.w-335p  { width:335px; }
.w-340p  { width:340px; }
.w-345p  { width:345px; }
.w-350p  { width:350px; }
.w-355p  { width:355px; }
.w-360p  { width:360px; }
.w-365p  { width:365px; }
.w-370p  { width:370px; }
.w-375p  { width:375px; }
.w-380p  { width:380px; }
.w-385p  { width:385px; }
.w-390p  { width:390px; }
.w-395p  { width:395px; }

.w-400p  { width:400px; }
.w-405p  { width:405px; }
.w-410p  { width:410px; }
.w-415p  { width:415px; }
.w-420p  { width:420px; }
.w-425p  { width:425px; }
.w-430p  { width:430px; }
.w-435p  { width:435px; }
.w-440p  { width:440px; }
.w-445p  { width:445px; }
.w-450p  { width:450px; }
.w-455p  { width:455px; }
.w-460p  { width:460px; }
.w-465p  { width:465px; }
.w-470p  { width:470px; }
.w-475p  { width:475px; }
.w-480p  { width:480px; }
.w-485p  { width:485px; }
.w-490p  { width:490px; }
.w-495p  { width:495px; }

.w-500p  { width:500px; }
.w-505p  { width:505px; }
.w-510p  { width:510px; }
.w-515p  { width:515px; }
.w-520p  { width:520px; }
.w-525p  { width:525px; }
.w-530p  { width:530px; }
.w-535p  { width:535px; }
.w-540p  { width:540px; }
.w-545p  { width:545px; }
.w-550p  { width:550px; }
.w-555p  { width:555px; }
.w-560p  { width:560px; }
.w-565p  { width:565px; }
.w-570p  { width:570px; }
.w-575p  { width:575px; }
.w-580p  { width:580px; }
.w-585p  { width:585px; }
.w-590p  { width:590px; }
.w-595p  { width:595px; }

.w-600p  { width:600px; }
.w-605p  { width:605px; }
.w-610p  { width:610px; }
.w-615p  { width:615px; }
.w-620p  { width:620px; }
.w-625p  { width:625px; }
.w-630p  { width:630px; }
.w-635p  { width:635px; }
.w-640p  { width:640px; }
.w-645p  { width:645px; }
.w-650p  { width:650px; }
.w-655p  { width:655px; }
.w-660p  { width:660px; }
.w-665p  { width:665px; }
.w-670p  { width:670px; }
.w-675p  { width:675px; }
.w-680p  { width:680px; }
.w-685p  { width:685px; }
.w-690p  { width:690px; }
.w-695p  { width:695px; }


.h-5p {height:5px; }
.h-10p {height:10px; }
.h-25p {height:25px; }
.h-30p {height:30px; }
.h-35p {height:35px; }
.h-40p {height:40px; }
.h-45p {height:45px; }
.h-50p {height:50px; }
.h-55p {height:55px; }
.h-60p {height:60px; }
.h-65p {height:65px; }
.h-70p {height:70px; }
.h-75p {height:75px; }
.h-80p {height:80px; }
.h-85p {height:85px; }
.h-90p {height:90px; }
.h-95p {height:95px; }

.h-100p {height:100px; }
.h-125p {height:125px; }
.h-150p {height:150px; }
.h-175p {height:175px; }

.h-200p {height:200px; }
.h-225p {height:225px; }
.h-250p {height:250px; }
.h-275p {height:275px; }

.h-300p {height:300px; }
.h-325p {height:325px; }
.h-350p {height:350px; }
.h-375p {height:375px; }

.h-400p {height:400px; }
.h-425p {height:425px; }
.h-450p {height:450px; }
.h-475p {height:475px; }

.h-500p {height:500px; }

.br-5 {border-radius:5px; }
.br-6 {border-radius:6px; }
.br-7 {border-radius:7px; }
.br-8 {border-radius:8px; }
.br-9 {border-radius:9px; }
.br-10 {border-radius:10px; }
.br-15 {border-radius:15px; }
.br-20 {border-radius:20px; } 
.br-25 {border-radius:25px; } 

.o-5 {opacity: 0.05; }
.o-10 {opacity: 0.10; }
.o-15 {opacity: 0.15; }
.o-20 {opacity: 0.20; }
.o-25 {opacity: 0.25; }
.o-30 {opacity: 0.30; }
.o-35 {opacity: 0.35; }
.o-40 {opacity: 0.40; }
.o-45 {opacity: 0.45; }
.o-50 {opacity: 0.50; }
.o-75 {opacity: 0.75; }

.b-white {color:white; cursor: pointer;  }
.b-white:hover {color:greenyellow;   } 

.pay-div-hdr { background-color: darkgreen; font-weight: bold; color: white; }
.pay-div-subhdr { background-color: rgba(0,0,0,.8); font-weight: bold;  }

.msds-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

    .msds-link:hover {
        color: darkgreen;
    }

    
.msds-pointer { cursor:pointer;  }
.r-container {
    max-width: 1080px;
    /*margin: auto;*/
    /*padding: 1rem;*/
}

@media (max-width: 576px) {
    .r-container {
        overflow: auto;
        min-width: 375px;
    }
    
    .rw-sm { width: 100%; }
    .d-sm-hide {display: none; }
    .w-sm-25p {width:25px; }
    .w-sm-30p {width:30px; }
    .w-sm-35p {width:35px; }
    .w-sm-40p {width:40px; }
    .w-sm-45p {width:45px; }
    .w-sm-50p {width:50px; }
    .w-sm-55p {width:55px; }
    .w-sm-60p {width:60px; }
    .w-sm-65p {width:65px; }
    .w-sm-70p {width:70px; }
    .w-sm-75p {width:75px; }
    .w-sm-80p {width:80px; }
    .w-sm-85p {width:85px; }
    .w-sm-90p {width:90px; }
    .w-sm-95p {width:95px; }
    .w-sm-100p {width:100px; }

    .w-sm-105p  {width:105px; }
    .w-sm-110p  {width:110px; }
    .w-sm-115p  {width:115px; }
    .w-sm-120p  {width:120px; }
    .w-sm-125p  {width:125px; }
    .w-sm-130p  {width:130px; }
    .w-sm-135p  {width:135px; }
    .w-sm-140p  {width:140px; }
    .w-sm-145p  {width:145px; }
    .w-sm-150p  {width:150px; }
    .w-sm-155p  {width:155px; }
    .w-sm-160p  {width:160px; }
    .w-sm-165p  {width:165px; }
    .w-sm-170p  {width:170px; }
    .w-sm-175p  {width:175px; }
    .w-sm-180p  {width:180px; }
    .w-sm-185p  {width:185px; }
    .w-sm-190p  {width:190px; }
    .w-sm-195p  {width:195px; }

    .w-sm-200p  { width:200px; }
    .w-sm-205p  { width:205px; }
    .w-sm-210p  { width:210px; }
    .w-sm-215p  { width:215px; }
    .w-sm-220p  { width:220px; }
    .w-sm-225p  { width:225px; }
    .w-sm-230p  { width:230px; }
    .w-sm-235p  { width:235px; }
    .w-sm-240p  { width:240px; }
    .w-sm-245p  { width:245px; }
    .w-sm-250p  { width:250px; }
    .w-sm-255p  { width:255px; }
    .w-sm-260p  { width:260px; }
    .w-sm-265p  { width:265px; }
    .w-sm-270p  { width:270px; }
    .w-sm-275p  { width:275px; }
    .w-sm-280p  { width:280px; }
    .w-sm-285p  { width:285px; }
    .w-sm-290p  { width:290px; }
    .w-sm-295p  { width:295px; }

    .w-sm-300p  { width:300px; }
    .w-sm-305p  { width:305px; }
    .w-sm-310p  { width:310px; }
    .w-sm-315p  { width:315px; }
    .w-sm-320p  { width:320px; }
    .w-sm-325p  { width:325px; }
    .w-sm-330p  { width:330px; }
    .w-sm-335p  { width:335px; }
    .w-sm-340p  { width:340px; }
    .w-sm-345p  { width:345px; }
    .w-sm-350p  { width:350px; }
    .w-sm-355p  { width:355px; }
    .w-sm-360p  { width:360px; }
    .w-sm-365p  { width:365px; }
    .w-sm-370p  { width:370px; }
    .w-sm-375p  { width:375px; }
    .w-sm-380p  { width:380px; }
    .w-sm-385p  { width:385px; }
    .w-sm-390p  { width:390px; }
    .w-sm-395p  { width:395px; }

    .w-sm-400p  { width:400px; }
    .w-sm-405p  { width:405px; }
    .w-sm-410p  { width:410px; }
    .w-sm-415p  { width:415px; }
    .w-sm-420p  { width:420px; }
    .w-sm-425p  { width:425px; }
    .w-sm-430p  { width:430px; }
    .w-sm-435p  { width:435px; }
    .w-sm-440p  { width:440px; }
    .w-sm-445p  { width:445px; }
    .w-sm-450p  { width:450px; }
    .w-sm-455p  { width:455px; }
    .w-sm-460p  { width:460px; }
    .w-sm-465p  { width:465px; }
    .w-sm-470p  { width:470px; }
    .w-sm-475p  { width:475px; }
    .w-sm-480p  { width:480px; }
    .w-sm-485p  { width:485px; }
    .w-sm-490p  { width:490px; }
    .w-sm-495p  { width:495px; }

    .w-sm-500p  { width:500px; }
    .w-sm-505p  { width:505px; }
    .w-sm-510p  { width:510px; }
    .w-sm-515p  { width:515px; }
    .w-sm-520p  { width:520px; }
    .w-sm-525p  { width:525px; }
    .w-sm-530p  { width:530px; }
    .w-sm-535p  { width:535px; }
    .w-sm-540p  { width:540px; }
    .w-sm-545p  { width:545px; }
    .w-sm-550p  { width:550px; }
    .w-sm-555p  { width:555px; }
    .w-sm-560p  { width:560px; }
    .w-sm-565p  { width:565px; }
    .w-sm-570p  { width:570px; }
    .w-sm-575p  { width:575px; }
    .w-sm-580p  { width:580px; }
    .w-sm-585p  { width:585px; }
    .w-sm-590p  { width:590px; }
    .w-sm-595p  { width:595px; }

    .w-sm-600p  { width:600px; }
    .w-sm-605p  { width:605px; }
    .w-sm-610p  { width:610px; }
    .w-sm-615p  { width:615px; }
    .w-sm-620p  { width:620px; }
    .w-sm-625p  { width:625px; }
    .w-sm-630p  { width:630px; }
    .w-sm-635p  { width:635px; }
    .w-sm-640p  { width:640px; }
    .w-sm-645p  { width:645px; }
    .w-sm-650p  { width:650px; }
    .w-sm-655p  { width:655px; }
    .w-sm-660p  { width:660px; }
    .w-sm-665p  { width:665px; }
    .w-sm-670p  { width:670px; }
    .w-sm-675p  { width:675px; }
    .w-sm-680p  { width:680px; }
    .w-sm-685p  { width:685px; }
    .w-sm-690p  { width:690px; }
    .w-sm-695p  { width:695px; }
}

@media screen and (min-width: 768px) {
    /* .msds-mid-none { */
    /* display:none;  */
    /* } */
}

