.user-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select:none;
}

.user-avatar-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: ghostwhite;
    color: #495057;
}
.user-avatar-wrapper .user-name {
    display: none;
    color: ghostwhite;
}

.user-avatar-wrapper .b-dropdown-menu {
    right: 16px;
}

.menu-toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
    color: var(--color-white);
    width: 32px;
    padding:0;
}



/* Apply styles in Javascript*/
.menu-toggle-icon.activated .open-menu-icon {
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon {
    display: block;
}


@media (min-width: 768px) {

    .user-avatar-wrapper .user-name {
        display: block;
    }
}
