.mainPageContent .b-row{
    gap:0;
    flex-direction:column;
}

.mainPageContent .b-row .col-xl-5 {
    width: 100%;
}

.dual-input-wrapper {
    flex-direction: row;
}

.dual-input-wrapper div:first-of-type {
    padding-right: 50px;
}


/*--------------------------------------------------
Standard BreakPoints -----------------------------*/
/*--------------------------------------------------

/*--- 2xl ----------------------------------------*/
@media only screen and (min-width: 1400px) {
}

/*--- xl ----------------------------------------*/
@media only screen and (min-width: 1200px) {
    
}

/*--- Large ----------------------------------------*/
@media only screen and (min-width: 992px) {
}

/*--- Medium ----------------------------------------*/
@media screen and (min-width: 768px) {
    
    .dual-input-wrapper div:first-of-type{
        padding-right:8%;
    }
}

.msds-home-body {
    min-height: 100%; 
    width: 100%; 
    background-color: rgb(243, 241, 239);
    display: flex;
}

.msds-left-body     {   display: flex; background-color: rgb(255, 255, 255); }
.msds-left-menu     {   min-height: 4rem; }

.msds-right-body    {   margin: 1%; background-color: ghostwhite; width: 100%; border: 1px solid rgba(227, 225, 225,.8);}
/**************************************************************/
/*--- MSDS Payroll Layout ------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 1350px) {
    .msds-pay-hdr       {   }
    .msds-md-d-none     {   display: none !important;     }
    .msds-lg-d-none     {   display:unset !important;     }
    .msds-home-body     {   flex-direction: column;}
    .msds-left-body     {   width: 100%; flex-direction: row; border-bottom: 1px solid rgba(171, 168, 168, 0.5);}
    .msds-home-btn      {   margin: auto  }

    .msds-right-body    {   padding: 2%; border-radius: 2%; height: 100%; width:98%; box-shadow: 2px rgba(227, 225, 225,.5); }
}
@media screen and (min-width: 1351px) and (max-width: 4320px) {
    .msds-pay-hdr       {   color: azure; background-color: rgba(11, 11, 11, 0.7)!important;}
    .msds-md-d-none     {   display:unset !important; }
    .msds-lg-d-none     {   display:none !important;     }
    .msds-home-body     {   flex-direction: row;}
    .msds-left-body     {   width: 160px; height: 100%; flex-direction: column; box-shadow: 2px 0px rgba(227, 225, 225,.5); }
    .msds-home-btn      {   margin: 2px auto;}

    .msds-right-body    {   padding: 2%; border-radius: 2%;}

}

/*--- Small to Medium ----------------------------------------*/
/**************************************************************/



/*--------------------------------------------------
Special BreakPoints -----------------------------
--------------------------------------------------*/
@media only screen and (min-width: 1280px) and (max-width: 1380px)  {
    .dual-input-wrapper .pe-5 {
        padding-right:1rem !important;
    }
}

@media only screen and (min-width: 1280px) {
    .mainPageContent .b-row {
        display:flex;
        gap: 15%;
        flex-direction: row;
    }

    .mainPageContent .b-row .col-xl-5 {
        width: 41.66666667%;
    }
}

@media only screen and (min-width: 880px) and (max-width: 1279px) {
    .dual-input-wrapper.w-100 {
        max-width:500px;
    }
}