root = true

[*]
dotnet_analyzer_diagnostic.severity = none


# # Naming
# dotnet_diagnostic.IDE1006.severity = none
# 
# # Unused local function
# dotnet_diagnostic.CS8321.severity = none
# 
# # Async not awaited
# dotnet_diagnostic.CS4014.severity = none
# 
# # Nullable dereference
# dotnet_diagnostic.CS8602.severity = none
# 
# # Razor component warnings
# dotnet_diagnostic.RZ10012.severity = none
