<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Telerik>
			<add key="Username" value="api-key" />
			<add key="ClearTextPassword" value="+v3won31AE+Z3vMIOnwkNg==.Qkd3Fv0DB4+M3Aw2NYXGxf3Tb9Yb4XQAX/cDsrlZHiUEQ9wGN9lZd3Q5T1HVhqGnZ/YwUOkifxPOeRcNbzPU6Q==" />
		</Telerik>
	</packageSourceCredentials>
</configuration>
