<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Telerik>
			<add key="Username" value="api-key" />
			<add key="ClearTextPassword" value="wmflA5Nj6UKl4a+cb6hFJQ==.OlZBxLhzfVsEaUX7ID5qsCux5UVO7zm0m5qmn7RxFRdWEsaPhwUEVS4G8ijqPyz+MP+k5iDZ1zcDet5ui/8puA==" />
		</Telerik>
	</packageSourceCredentials>
</configuration>
