@using HRMvc.Applications._03Payroll.Views.BlazorPages._05_Management._0500

<div class="d-flex w-100 p-1 ">
    <div class="" style="width:110px; ">
        &nbsp;
    </div>
    <div class="fw-bold bg-light p-1">Rates | </div>
    <div class="gap-2 d-flex p-1">
        <div>Hour : </div>  <div class="text-primary">@V504.Payrollgrp?.RatePerHr.ToString("#,##0.00")</div>
        <div>Day : </div>   <div class="text-primary">@V504.Payrollgrp?.RatePerDay.ToString("#,##0.00")</div>
        <div>Month : </div> <div class="text-primary">@V504.Payrollgrp?.RatePerMonth.ToString("#,##0.00")</div>
        <div>Month : </div> <div class="text-primary">@V504.Payrollgrp?.RatePerYr.ToString("#,##0.00")</div>
    </div>


</div>



@code {
    
    

    
    [Parameter]
    public V0504       V504 { get; set; } = new();
    
}