@inject NavigationManager Navigation

@* <div onclick="@(()=>LoadLink())" class="card br-8" style="width: 10rem;"> *@
@*     test # @RetAction # @action *@
@* </div> *@

<div   onclick="@(()=>LoadLink())" class="card br-8" style="width: 10rem;">
    <div class="card-body">
        <h6 class="card-title text-center border-bottom pb-1">@hdrNo</h6>
        <small><p class="card-text text-center">@txt</p></small>
    </div>
</div>

@code {

    [Parameter]     public  string          hdrNo            { get; set; } = "hdr no";
    [Parameter]     public  string          txt              { get; set; } = "Description";
    [Parameter]     public  string          action           { get; set; } = "999";

    [Parameter]     public  EventCallback   ChildAction      { get; set; }
    [Parameter]     public  B500            B                { get; set; } = new();


    
    private async void LoadLink()
    {

        B.Action = action; 
        await ChildAction.InvokeAsync(); 
    }

}