
<div class="mt-5">
    <div class="p-2 text-center bordered bg-warning bg-opacity-50 w-175p" style="border-radius:5px; ">
        <h4>Message</h4>
    </div>
</div>
<div class="w-100 p-4 text-center ">
    <h5>Unable to proceed with your <span class="fw-bold text-decoration-underline">LEAVE APPLICATION</span>.  
        The system has no record that you are employee of this company.</h5>
</div>
@code {

}
