@using HRMvc.Views.BlazorPages.Vars

<style>
    ._132-bdr {
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
    }
    ._132-bdr-bott {
        border-bottom: 1px solid gray;
    }

    ._132-dlt1 {
        padding: 0 3px 5px 6px; 
        margin-left: 1em;
    }


    ._132-lbl-float {
        padding: 2px 0 0 3px; 
        
        font-weight:bold; 
        font-size:smaller; 
    }
</style>

@{
    var la = V132.Leaveapplication; 
}

@* --- Date  *@
<div class="w-100 d-flex">
    <div class="_132-bdr col-sm-12 col-md-6 col-lg-8 ">
        <div class="_132-lbl-float fw-bolder">Leave Type </div>
        <div class="_132-dlt1 text-primary" style="padding-top: 7px"><h5>@la?.Leavetypename</h5></div>
    </div>
    <div class="_132-bdr col-sm-12 col-md-6 col-lg-4 ">
        <div class="_132-lbl-float fw-bolder">Application Date : </div>
        <div class="_132-dlt1">
            <RadzenDatePicker @bind-Value="@V132.Leaveapplication!.DateApplied" Name="DDateApplied" DateFormat="MMMM dd, yyyy"   />
            @* <RadzenDatePicker @bind-Value="@V132.Leaveapplication!.DateApplied" Name="DDateApplied" ShowCalendarWeek /> *@
        </div>
    </div>
</div>


<div class="w-100 d-flex">
    @* --- Employee Name *@
    <div class="_132-bdr col-8">
        <div class="_132-lbl-float fw-bolder">Name</div>
        <div class="_132-dlt1 fw-bold"><h6>Dela Cruz, Juan Pedro</h6></div>
            
    </div>
    
    @* --- Designation *@
    <div class="_132-bdr col-4">
        <div class="_132-lbl-float fw-bolder">Lv Balance</div>
        <div class="_132-dlt1">15 days</div>
    </div>
</div>


<div class="w-100 d-flex">
    @* --- Department  *@
    <div class="_132-bdr col-sm-12 col-md-8 col-lg-6 ">
        <div class="_132-lbl-float fw-bolder">Department: </div>
        <div class="_132-dlt1">Human Resource</div>
    </div>

    @* --- Leave Balance *@
    <div class="_132-bdr col-sm-12 col-md-4 col-lg-6 ">
        <div class="_132-lbl-float fw-bolder">Designation: </div>
        <div class="_132-dlt1">HR Supervisor</div>
    </div>
</div>

<div class="w-100 d-flex">

    @* --- Days Count  *@
    <div class="_132-bdr col-sm-12 col-md-6 d-flex">
        <div class="col-6">
            <div class="_132-lbl-float fw-bolder">Number of Days</div>
            <div class="_132-dlt1">
                <input type="text" value="6.5" class="form-control" />
            </div>
        </div>

        @* --- Time  *@
        <div class="col-6" style="padding-right:10px; ">
            <div class="_132-lbl-float fw-bolder">Time</div>
            <div class="_132-dlt1">
                <input type="text" class="form-control" />
            </div>
        </div>

        
    </div>
    
    @* --- Days Count  *@
    <div class="_132-bdr col-sm-12 col-md-6 d-flex">
        <div class="row">
            @* --- Leave Start  *@
            <div class="col-6">
                <div class="_132-lbl-float fw-bolder">Leave Start</div>
                <div class="_132-dlt1">
                    <input type="text" class="form-control" />
                </div>
            </div>

            @* --- Leave End  *@
            <div class="col-6">
                <div class="_132-lbl-float fw-bolder">Leave End</div>
                <div class="_132-dlt1">
                    <input type="text" class="form-control" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="w-100 d-flex">
    @* --- Leave Type  *@
    <div class="_132-bdr col-sm-12 col-md-6 d-flex">
        <div class="col-6">
            <div class="_132-lbl-float fw-bolder">Type of Leave</div>
            <div class="_132-dlt1">
                Vacation Leave
            </div>
        </div>

        <div class="col-6">
            <div class="_132-lbl-float fw-bolder">Days With Pay</div>
            <div class="_132-dlt1">
                <input type="text" class="form-control" />
            </div>

            
        </div>
        
    </div>
    @* --- Leave Urgency *@
    <div class="_132-bdr col-sm-12 col-md-6">
        <div class="_132-lbl-float fw-bolder">Urgency</div>
        <div class="_132-dlt1">
             [ Normal ] [ Emergency ]
        </div>
    </div>

</div>

<div class="w-100">
    @* --- Reason  *@
    <div class="_132-bdr w-100">

        <div class="_132-lbl-float fw-bolder">Reason </div>

        <div class="_132-dlt1">
            <div style="padding-right: 10px !important;">
                <input type="text" class="form-control" style="max-width:none !important" />
            </div>
        </div>
    </div>
</div>

<div class="w-100" >
    @* --- Address and contact number  *@
    <div class="_132-bdr w-100 d-flex">
        @* --- Address  *@
        <div class="col-8">
            <div class="_132-lbl-float fw-bolder">Address while on leave : </div>
            <div class="_132-dlt1">
                <div style="padding-right: 10px !important;">
                    <input type="text" class="form-control" style="max-width:none !important" />
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="_132-lbl-float fw-bolder">Contact No(s) : </div>
            <div class="_132-dlt1">
                <div style="padding-right: 10px !important;">
                    <input type="text" class="form-control" style="max-width:none !important" />
                </div>
            </div>

        </div>
        
    </div>
</div>

<div class="w-100" >
    @* --- Address and contact number  *@
    <div class="_132-bdr _132-bdr-bott w-100">
        
        <div class="_132-lbl-float fw-bolder">Approver:</div>

        <div class="d-flex">
            @* --- First Approver  *@
            <div class="col-4">
                <div class="_132-lbl-float fw-bolder">Immediate Supervisor</div>
                <div class="_132-dlt1 text-center" style="border-bottom:1px solid gray; margin-right:5px;">
                    Supervisor Name
                </div>
                <div class="text-center" >
                    1st Approver
                </div>
            </div>
            @* --- 2nd Approver  *@
            <div class="col-4">
                <div class="_132-lbl-float fw-bolder">HR Approver</div>
                
                <div class="_132-dlt1 text-center" style="border-bottom:1px solid gray; margin-right:5px;">
                    HR Officer Name
                </div>
                <div class="text-center" >
                    2nd Approver
                </div>

            </div>
            @* --- Final Approver  *@
            <div class="col-4">
                <div class="_132-lbl-float fw-bolder">Final Approver</div>
                <div class="_132-dlt1 text-center" style="border-bottom:1px solid gray; margin-right:5px;">
                    Final Approver Name
                </div>
                <div class="text-center">
                    Final Approver
                </div>          

            </div>

        </div>
        

    </div>
</div>

@code {

    [Parameter]
    public V0132 V132    { get; set; } = new();   

}
