@using HRMvc.Views.BlazorPages.Vars



<div class="p-2 mb-1" style="border:1px solid gray; border-radius:3px; ">
    <div class="fw-bold"><h6>Anniversary Date</h6></div>
    <div class="d-flex p-2 gap-4">
        <div class="d-flex ">
            <div class="p-2"><h6>Start : </h6></div>
            <div class="p-1 text-decoration-underline">
                @V132.PisSettings?.LeaveAnniversaryStart.ToString("MMMM dd, yyyy")
            </div>
        </div>
        <div class="d-flex ">
            <div class="p-2"><h6>End : </h6></div>
            <div class="p-1 text-decoration-underline">
                @V132.PisSettings?.LeaveAnniversaryEnd.ToString("MMMM dd, yyyy")
            </div>
        </div>
    </div>


</div>



@code {
    
    [Parameter]
    public  V0132               V132            { get; set; } = new();


}
