@using HRApiLibrary.Models._20_Pay

<style>
    .prd-text1 {
        color: #0d6efd;
        padding-top: 4px; 
        padding-right: 15px;
        font-size: smaller;
        width: 50px;
    }
</style>

<div class="d-flex flex-wrap w-100 py-1 ">
    @* --- Period 1 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P1Bool" TValue="bool"
                            class="p-0 form-check-input me-1" @onchange="() => OnSelectionChanged.InvokeAsync(Prd)"/>
        </div>
        <div  class="prd-text1" > P1 </div>
    </div>
    
    @* --- Period 2 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P2Bool" TValue="bool"
                            class="p-0 form-check-input me-1" @onchange="() => OnSelectionChanged.InvokeAsync(Prd)"/>
        </div>
        <div  class="prd-text1" > P2 </div>
    </div>
    
    @* --- Period 3 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P3Bool" TValue="bool"
                            class="p-0 form-check-input me-1" @onchange="() => OnSelectionChanged.InvokeAsync(Prd)"/>
        </div>
        <div  class="prd-text1" > P3 </div>
    </div>
    
    @* --- Period 4 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P4Bool" TValue="bool"
                            class="p-0 form-check-input me-1" @onchange="() => OnSelectionChanged.InvokeAsync(Prd)"/>
        </div>
        <div  class="prd-text1" > P4 </div>
    </div>
    
    @* --- Period 5 -------------------------------------------------------*@
    <div class="d-flex gap-1">
        <div class="p-0">
            <RadzenCheckBox @bind-Value="Prd!.P5Bool" TValue="bool"
                            class="p-0 form-check-input me-1" @onchange="() => OnSelectionChanged.InvokeAsync(Prd)"/>
        </div>
        <div  class="prd-text1" > P5 </div>
    </div>
    
   

</div>

@code {

    private PeriodTmpModel Prd = new();
    
    [Parameter] public EventCallback<PeriodTmpModel>   OnSelectionChanged      { get; set; }
    
}