@using HRApiLibrary.Models._20_Pay
@* ----- Payroll Group----------*@
<div class="w-100 d-flex">
    <div class="w-125p py-2 ">Payroll Group </div>
    <div class="w-425p">
        <RadzenDropDown TValue="int"
                        @bind-Value="@Idpayrollgrp"
                        Data="@Payrollgrps"
                        TextProperty="Name"
                        ValueProperty="Id"
                        Style="width: 100%; "
                        Change="PgrpChanged"
                        Name="ddDivisions" />
    </div>
</div>


@code {

    int Idpayrollgrp = 0; 

    [Parameter] public List<PayrollgrpModel?>?  Payrollgrps             { get; set; } = []; 
    [Parameter] public EventCallback<int>       PayrollgrpChanged       { get; set; }

    async void PgrpChanged()
    {
        await PayrollgrpChanged.InvokeAsync(Idpayrollgrp); 
    }
}