
<RadzenStack>
    <h3>Claims Information</h3>
    <hr />

    <RadzenRow>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:200px;">Claims</th>
                    <th scope="col">Claim Value</th>
                </tr>
            </thead>

            <tbody>
                
                <tr>
                    <th scope="row">User Id</th>
                    <td>@userClaims?.UserId</td>
                </tr>

                <tr>
                    <th scope="row">DefCompayId</th>
                    <td>@userClaims?.DefCompanyId</td>
                </tr>

                <tr>
                    <th scope="row">UserName</th>
                    <td>@userClaims?.UserName </td>
                </tr>
                
                <tr>
                    <th scope="row">PisSchema</th>
                    <td>@userClaims?.SchemaUserPis</td>
                </tr>

                <tr>
                    <th scope="row">PaySchema</th>
                    <td>@userClaims?.SchemaUserPay</td>
                </tr>

                <tr>
                    <th scope="row">ApplicantSchema</th>
                    <td>@userClaims?.SchemaUserApp</td>
                </tr>

                <tr>
                    <th scope="row">AmsSchema</th>
                    <td>@userClaims?.SchemaUserAms</td>
                </tr>

                <tr>
                    <th scope="row">CoName</th>
                    <td>@userClaims?.CoName</td>
                </tr>

                <tr>
                    <th scope="row">IsExclusiveCompany</th>
                    <td>@userClaims?.IsExclusiveCompany </td>
                </tr>

                <tr>
                    <th scope="row">Conn</th>
                    <td>@userClaims?.Conn </td>
                </tr>

                


            </tbody>

        </table>


    </RadzenRow>

</RadzenStack>



@code {

    [Parameter]
    public UserClaimsModel? userClaims { get; set; }

}
