@using HRMvc.Applications._02HR._02Library

<div class="p-2">
    
    <HRMvc.Applications._02HR.Views.BlazorPages._00Library._02ColumnHdr pageTitle="Character References" />

    <div>Conn : @V.conn </div>


</div>



@code {


    [Parameter]
    public V222             V               { get; set; } = new();
     
    [Parameter]
    public EventCallback    ChildAction     { get; set; }

}
