@using HRApiLibrary.DataAccess._10_Pis.Interface
@using HRMvc.Applications._02HR._02Library

@inject NotificationService _NotificationService;
@inject DialogService       _DialogService; 


<style>
    .s222-t1-lbl-01 {
        color: darkgreen;
        width: 20%;
    }
</style>
    
<div class="p-2">
    <HRMvc.Applications._02HR.Views.BlazorPages._00Library._02ColumnHdr pageTitle="Personal Data" />

    <RadzenTemplateForm TItem="EmpmasPIModel" Data=@V.EmpmasPI Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <br />
          @if(V.Empmas?.Id > 0) {
            <div class="p-2 bordered mb-2 w-100">
                <input class="btn btn-secondary w-100p" type="submit" value="Save" />
            </div>
          }
        <RadzenFieldset >

            <div class="h-10p"></div>
            <RadzenFieldset Text="******">
                @* ----- EmpBirth (date)----------*@
                <div class="w-100 d-flex p-1">
                    <div class="s222-t1-lbl-01">Date of Birth </div>
                    <div class="w-80">
                        <RadzenDatePicker @bind-Value=@V.EmpmasPI!.EmpBirth Name="DPEmpBirth" DateFormat="MMM dd, yyyy" />
                        <RadzenRequiredValidator Component="DPEmpBirth" Text="Date of Birth is required" Style="color: red; display:block" />
                    </div>
                </div>

                @* ----- BirthPlace (varchar(75))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20 s222-t1-lbl-01">Birth Place </div>
                    <div class="w-80">
                        <RadzenTextBox @bind-Value=@V.EmpmasPI.BirthPlace class="form-control" Name="BirthPlace" MaxLength="75" Placeholder="BirthPlace" />
                        <RadzenRequiredValidator Component="BirthPlace" Text="Birth of Place is required" Style="color: red; display:block" />
                    </div>
                </div>
            </RadzenFieldset>
            
            <div class="h-10p"></div>
            <RadzenFieldset Text="******">
                @* ----- Sex_ (varchar(1))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Gender</div>
                    <div class="w-20">
                        <RadzenDropDown TValue="string"
                                        @bind-Value=@V.EmpmasPI!.Sex_
                                        Data=@sexs
                                        Style="width: 100%; max-width: 200px;"
                                        Name="ddSex" />
                        <RadzenRequiredValidator Component="ddSex" Text="Gender is required" Style="color: red; display:block" />
                    </div>
                </div>

                @* ----- CivStat_ (varchar(1))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Civil Status </div>
                    <div class="w-20">
                        @* <RadzenTextBox Placeholder="CivStat_" class="w-100" @bind-Value=@V.EmpmasPI.CivStat_ />  *@
                        <RadzenDropDown TValue="string"
                                        @bind-Value=@V.EmpmasPI.CivStat_
                                        Data=@V.RCivStats
                                        TextProperty="Name"
                                        ValueProperty="Code"
                                        Style="width: 100%; max-width: 400px;"
                                        Name="ddCivStat" />
                        <RadzenRequiredValidator Component="ddCivStat" Text="Civil Status is required" Style="color: red; display:block" />

                    </div>
                </div>

                @* ----- Citizen (varchar(15))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Citizenship </div>
                    <div class="w-40">
                        <RadzenTextBox @bind-Value=@V.EmpmasPI.Citizen Name="Citizenship" Placeholder="Citizen" MaxLength="15" class="form-control" />
                        <RadzenRequiredValidator Component="Citizenship" Text="Citizenship is required" Style="color: red; display:block" />
                    </div>
                </div>
            </RadzenFieldset>


            <div class="h-10p">&nbsp</div>
            <RadzenFieldset Text="******">
                @* ----- Religion (varchar(35))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Religion </div>
                    <div class="w-60">
                        <RadzenTextBox MaxLength="35" Placeholder="Religion" class="w-100" @bind-Value=@V.EmpmasPI!.Religion />
                    </div>
                </div>

                @* ----- Height (int(11))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Height </div>
                    <div class="w-80 d-flex">
                        <div class="w-125p gap-2">
                            <RadzenNumeric Placeholder="0" Step="1" @bind-Value=@V.EmpmasPI.Height TextAlign="TextAlign.Right"
                                           InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                        </div><div class="p-2"> Feet</div>

                        <div class="w-125p">
                            <RadzenNumeric Placeholder="0" Step="1" @bind-Value=@V.EmpmasPI.HeightInch TextAlign="TextAlign.Right"
                                           InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                        </div>
                        <div class="p-2"> Inches</div>

                    </div>
                </div>
            

                @* ----- Weight (double(6,2))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="s222-t1-lbl-01">Weight </div>
                    <div class="w-80 d-flex gap-2">
                        <div class="w-125p">
                            <RadzenNumeric TValue="double?" @bind-Value="V.EmpmasPI!.Weight" Min="0" Max="1000"
                                           class="form-control" Format="#,##0.00" Placeholder="0" TextAlign="Radzen.TextAlign.End" />
                        </div>
                        <div>lbs</div>
                    </div>
                </div>
            </RadzenFieldset>




            <div class="h-10p">&nbsp</div>
            <RadzenFieldset Text="******">
                @* ----- Hair (varchar(15))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Hair Color </div>
                    <div class="w-20">
                        <RadzenTextBox MaxLength="15" Placeholder="Hair" class="w-100" @bind-Value=@V.EmpmasPI!.Hair />
                    </div>
                </div>

                @* ----- Eyes (varchar(15))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Eyes Color</div>
                    <div class="w-20">
                        <RadzenTextBox Placeholder="Eyes" class="w-100" @bind-Value=@V.EmpmasPI.Eyes MaxLength="15" />
                    </div>
                </div>

                @* ----- Complexion (varchar(10))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Complexion </div>
                    <div class="w-20">
                        <RadzenTextBox Placeholder="Complexion" class="w-100" @bind-Value=@V.EmpmasPI.Complexion MaxLength="10" />
                    </div>
                </div>

                @* ----- Marks (varchar(60))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Marks </div>
                    <div class="w-20">
                        <RadzenTextBox Placeholder="Marks" class="w-100" @bind-Value=@V.EmpmasPI.Marks MaxLength="60" />
                    </div>
                </div>



                @* ----- BloodType (varchar(10))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Blood Type </div>
                    <div class="w-20">
                        <RadzenTextBox Placeholder="BloodType" class="w-100" @bind-Value=@V.EmpmasPI.BloodType MaxLength="10" />
                    </div>
                </div>

            </RadzenFieldset>



            <div class="h-10p">&nbsp</div>
            <RadzenFieldset Text="******">

                @* ----- Spouse (varchar(25))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Spouse Name </div>
                    <div class="w-50">
                        <RadzenTextBox Placeholder="Spouse" class="w-100" @bind-Value=@V.EmpmasPI!.Spouse MaxLength="25" />
                    </div>
                </div>

                @* ----- Occupation (varchar(75))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="w-20">Spouse Occupation </div>
                    <div class="w-80">
                        <RadzenTextBox Placeholder="Occupation" class="w-100" @bind-Value=@V.EmpmasPI.Occupation MaxLength="75" />
                    </div>
                </div>



                @* ----- NoChildren (int(11))----------*@
                <div class="w-100 d-flex p-1">
                    <div class="s222-t1-lbl-01">No of Children </div>
                    <div>
                        <RadzenNumeric Placeholder="0" Step="1" @bind-Value=@V.EmpmasPI.NoChildren
                                       InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" />
                    </div>
                </div>

            </RadzenFieldset>
        </RadzenFieldset>
    </RadzenTemplateForm>

</div>


@inject I_10_EmpmasDataAccess _empmas;

@code {
    [Parameter]
    public V222 V { get; set; } = new();

    [Parameter]
    public EventCallback ChildAction { get; set; }

    
    string[] sexs = { "M", "F" };
    string[] civistatuss = { "M", "F" };

    async void OnSubmit(EmpmasPIModel model)
    {
        await _empmas._03EmpmasPI(V.SelectedId, model, V.pisdb!, V.conn!); 
        
        var severity    = NotificationSeverity.Info; 
        var summary     = "Saved";
        var detail      = "Record Saved."; 
        _NotificationService.Notify(new NotificationMessage
            {
                Severity    = severity,
                Summary     = summary,
                Detail      = detail,
                Duration    = 3000
            });

    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }
}



