<!-- Modal For Data Entry-->
<div class="modal fade data-entry-modal" id="charReferencesRightModal" tabindex="-1" role="dialog" aria-labelledby="charReferencesRightModalLabel" aria-hidden="true" v-show="dataEntryIsVisible">
    <div class="modal-dialog modal-dialog-slide-right" role="document">
        <div class="modal-content">

            @*--- Header ----*@
            <div class="modal-header">
                <h3 class="modal-title" id="charReferencesRightModalLabel">Add Character Reference</h3>
                <button type="button" class="modal-btn-collapse" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="form-section-action mx-0">
                @*--- Save Button ----*@
                <button type="button" class="btn b-btn-primary " data-bs-toggle="modal" data-bs-target="#charReferencesRightModal">Save </button>
            </div>

            <div class="modal-body py-0">
                @*--- Form ----*@
                <form>
                    @*LEVEL*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Level</label>
                        <select class="form-select" >
                            <option>Elementary</option>
                            <option>High School</option>
                            <option>Junior High</option>
                            <option>Senior High</option>
                            <option>Vocational</option>
                            <option>College</option>
                            <option>Master</option>
                            <option>Doctorate</option>
                        </select>
                    </div>

                    @*SCHOOL*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">School</label>
                        <input class="form-control" />
                    </div>

                    @*FROM*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">From</label>
                        <input class="form-control" type="date" />
                    </div>

                    @*TO*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">To</label>
                        <input class="form-control" type="date" />
                    </div>

                    @*COURSE*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Course</label>
                        <input class="form-control" />
                    </div>

                    @*REMARKS*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Remarks</label>
                        <input class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>