@using HRMvc.Applications._03Payroll.Views.BlazorPages._06._0600
@using _00_Utility.Vars


<div class="card shadow bordered-darkgreen mt-2 ">
    <div class="card-header text-white fw-bold bg-success " >
        EMPLOYEE DETAILS
    </div>
    @* ----- Employee Name  -------------*@
    <div class="responsive-div mt-3">
        <div class="w-100 h-25p ">
            <label class="px-2">Employee Name</label>
        </div>
    </div>

    <div class="responsive-div bordered-bottom">
        <div class="w-125p p-1">
            <RadzenTextBox Placeholder="XXXXX" @bind-Value=@empnumber Style="width:120px" />
        </div>
        <div class="d-flex">
            <div class="p-1">
                <RadzenTextBox Placeholder="Juan Dela Cruz" class="w-350p" @bind-Value=@empnumber />
            </div>
            <div class="py-2 px-1">
                <btn class="btn btn-secondary">Locate</btn>
            </div>
        </div>
        
    </div>

    <div class="responsive-div bordered-bottom">
        <div class="py-2">
            <!-- Line 2 -->
            <div class="w-100 d-flex p-1 pt-1">
                <div class="p-2 w-125p">Emp. Status</div>
                <div>
                    <RadzenTextBox Disabled class="w-150p" @bind-Value=@empnumber />
                </div>
            </div>


            <!-- Line 3 -->
            <div class="w-100 d-flex px-1">
                <div class="p-2 w-125p">Pay Group</div>
                <div class="">
                    <RadzenTextBox Disabled class="w-300p" @bind-Value=@empnumber />
                </div>
            </div>
        </div>
    </div>

    
    <div class="card-body bg-white ">    
        <_0603_02_EmployeeSearchResult V="@V" V00="@V00" ChildAction="ChildAction" />
    </div>

</div>




@code {

    string empnumber = string.Empty; 

    [Parameter] public V00_Pay?         V00             { get; set; } = new();
    [Parameter] public V0603?           V               { get; set; } = new();
    [Parameter] public EventCallback    ChildAction     { get; set; }

    
}