@using HRMvc.Applications._03Payroll.Views.BlazorPages._00_Utility.Vars
@using HRMvc.Applications._03Payroll.Views.BlazorPages._06._0600
<!-- Employee Search Result -->
<div class="row">
    <div class="col ">
        <div class="p-1 text-white bg-secondary ">
            <span>Employee Search Result</span>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Emp No</th>
                    <th>Name</th>
                    <th>Payroll Group</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>John Doe</td>
                    <td>Group A</td>
                    <td>Active</td>
                    <td><button class="btn btn-sm btn-secondary">Select</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {

    [Parameter] public V00_Pay?         V00             { get; set; } = new();
    [Parameter] public V0603?           V               { get; set; } = new();
    [Parameter] public EventCallback    ChildAction     { get; set; }

}
