@using HRApiLibrary.DataAccess._00_Main.Interface
@using HRMvc.Applications._00Home.Views.BlazorPages.Index;
@using System.Security.Claims

@inject IConfiguration      _config
@inject I_00MainDA          _mainDA

@{
    string vue = _config.GetSection("Vue").Value;
    var userid = User.Claims.Where(c => c.Type == "UserId").FirstOrDefault();

    IEnumerable<Claim?> claims  = User.Claims;
    var userClaims              = _mainDA._02UserClaimsContent(claims);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    @*-- Bootsrap --*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*-- CSS --*@
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main/Layout/main_content.css" asp-append-version="true" />

    @*-- Font Awesome --*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

    @*-- Radzen --*@
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

    @*-- MSDS CSS --*@
    <link rel="stylesheet" href="~/css/msds-modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main/msds.css" asp-append-version="true" />
    
</head>


<body>
    <div class="vh-100 bg-light" >
        <div class=" h-100 msds-home">
            
            <div class="msds-home-hdr">
                @(await Html.RenderComponentAsync<_00_01_Hdr>(RenderMode.ServerPrerendered, new{}))
            </div>
            
            <div class="msds-home-body">
                
                

                <div class="msds-home-body">
                    <div class="msds-left-body gap-2 py-3 align-middle">
                        @(await Html.RenderComponentAsync<_00_02_HomeLeftMenu>(RenderMode.ServerPrerendered, new { UserClaims = userClaims }))
                    </div>
                    <div class="msds-right-body">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>




    @*-- Script --*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/Main/_00Main.js" asp-append-version="true"></script>
    <script src="~/lib/vue/@vue"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    @*-- Blazor Server Script --*@
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
