._1350-max-wrapper { 
    max-width: 1350px;
    /* border: 1px solid red;   */
}
.new-payroll-group-att-start {
    width: 50%;
}

.new-payroll-group-att-end {
    width: 50%;
}


/* --- Mobile ---------------------------------*/
@media screen and (min-width: 0px) and (max-width: 390px) {
    .new-payroll-group-caption {
        color:blue; 
        width: 250px
    }
    .new-payroll-payroll-group-dd {
        width:100%
    }

    
}

/* --- Tablet ---------------------------------*/
@media screen and (min-width: 391px) and (max-width: 800px) {
    .new-payroll-group-left {
        display: flex;
        width:100%; 
        /*border:1px solid blue; */
    }
    
    .new-payroll-group-right {
        display: flex;
        width:100%; 
        /*border:1px solid blue; */
    }

    .new-payroll-group-caption {
        color: red;
        width: 125px;
        /*border: 1px solid red;*/
    }
    
    .new-payroll-group-dd {
        width: 70%;
    }

    /* --- Attendance Coverage ----------------------*/ 
    .new-payroll-group-att-start {
        display: flex;
    }

    .new-payroll-group-att-end {
        display: flex;
    }

    .new-payroll-group-att-caption {
        width: 125px;
        /*border: 1px solid blue;*/
    }
    .new-payroll-group-att-start-tbox {
        width:30%; 
    }

    /* --- Period Coverate ----------------------*/
    .new-payroll-period-coverage-dtls {
        display:flex; 
        width: 100%; 
    }

    .new-payroll-period-coverage-wrapper {
        display: flex;
        width: 33%;
    }

    .new-payroll-coverage-label {
        width:75px; 
    }

    .new-payroll-coverage-dd {
        width:65%; 
    }

}

/* --- Desktop ---------------------------------*/

@media screen and (min-width: 801px) and (max-width: 4320px) {

    .new-payroll-group-wrapper {
        display:flex; 
    }
    .new-payroll-group-left {
        display: flex;
        width: 500px;
        /*border:1px solid blue; */
    }

    .new-payroll-group-right {
        display: flex;
        /*border:1px solid blue; */
    }

    /*--- Payroll Group --------------*/
    .new-payroll-group-caption {
        width: 125px;
        /*border: 1px solid red;*/
    }

    .new-payroll-group-dd {
        width: 400px;
        /*border: 1px solid blue;*/
    }

    /* --- Attendance Coverage ----------------------*/
    .new-payroll-group-att {
        display: flex;
    }


    .new-payroll-group-att-caption {
        width: 100px;
        /* border: 1px solid blue; */
    }

    .new-payroll-group-att-tbox {
        width: 175px;
    }

    /* --- Period Coverage ----------------------*/
    .new-payroll-period-coverage-dtls {
        display: flex;
        width: 100%;
    }

    .new-payroll-period-coverage-wrapper {
        display: flex;
        width: 250px;
    }

    .new-payroll-coverage-label {
        width: 75px;
    }

    .new-payroll-coverage-dd {
        width: 65%;
    }


    /* ---- payroll-dtls ------------------*/
    .new-payroll-dtls {
        display: flex;
        margin-top: 2em;
    }

    .emplist-wrapper {
        border:1px solid green; 
        width: 60%;
    }

    .acctlist-wrapper {
        border:1px solid blue;
        width: 40%; 
    }

    .dtls-hdr {
        font-weight: bolder;
    }

    /* --- emplist ------  */
    .ec-no{ width:50px;}
    .ec-mrk{width:50px;}
    .ec-emp-no{width:75px;}
    .ec-emp-name{width:200px;}
    .ec-status{width:75px;}

}





