@using HRMvc.Models.Main;
@model HRMvc.Models.Main.LoginSignUp.CreateUserCompanyUiModel

@{
    List<CountryUiModel?>? countries   = ViewData["country"] as List<CountryUiModel?>;
    List<CurrencyUiModel?>? currency   = ViewData["currency"] as List<CurrencyUiModel?>;
}


<h2 class="form-section-caption">Company Profile</h2>

<div class="b-pl-md-4">
    @*--- COMPANY NAME ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="CompanyName" class="control-label"></label>
        <div class="w-100">
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger err-input-msg"></span>
        </div>

    </div>

    @*--- COMPANY SHORT NAME ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="CompanySName" class="control-label"></label>
        <div class="w-100">
            <input asp-for="CompanySName" class="form-control b-w-50" />
            <span asp-validation-for="CompanySName" class="text-danger err-input-msg"></span>
        </div>

    </div>

    @*--- COUNTRY ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="CountryId" class="control-label"></label>
        <div class="w-100">
            <select asp-for="CountryId" class="form-select b-w-50" id="lstCountry" data-countryCode="">
                <option selected class="bg-light text-muted " disabled value="-1">Select country </option>
                @foreach (CountryUiModel? country in countries!)
                {
                    <option value="@country?.Id" data-countryCode="@country?.Code">@country?.Name</option>
                }

            </select>
            <span asp-validation-for="CountryId" class="text-danger err-input-msg"></span>
        </div>

    </div>

    @*--- REGION ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="RegionId" class="control-label"></label>
        <div class="w-100">
            <select asp-for="RegionId" class="form-select b-w-50" id="lstRegion">
                <option selected class="bg-light text-muted " disabled value="-1">Select region</option>
            </select>
            <span asp-validation-for="RegionId" class="text-danger err-input-msg"></span>
        </div>

    </div>

    @*--- CITY ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="CityId" class="control-label"></label>
        <div class="w-100">
            <select asp-for="CityId" class="form-select b-w-50" id="lstCity">
                <option selected class="bg-light text-muted " disabled value="-1">Select city</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger err-input-msg"></span>
        </div>

    </div>


    @*--- CURRENCY ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="CurrencyId" class="control-label"></label>
        <div class="w-100">
            <select asp-for="CurrencyId" class="form-select b-w-50" id="listCurrency">
                <option selected class="bg-light text-muted " disabled value="-1">Select currency</option>
                @foreach (CurrencyUiModel? cur in currency!)
                {
                    <option value="@cur!.Id">@cur!.Symbol - ( @cur.Name ) </option>
                }
            </select>
            <span asp-validation-for="CurrencyId" class="text-danger err-input-msg"></span>
        </div>

    </div>



    @*--- ZIP CODE ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="Zipcode" class="control-label"></label>
        <div class="w-100">
            <input asp-for="Zipcode" class="form-control b-w-50" id="tZipCode" />
            <span asp-validation-for="Zipcode" class="text-danger err-input-msg"></span>
        </div>
    </div>
</div>

