@model HRMvc.Models.Main.LoginSignUp.CreateUserCompanyUiModel


<h2 class="form-section-caption mt-0">User Information</h2>

<div class="b-pl-md-4">
    @*--- FIRST NAME ---*@
    <div class="form-group d-md-flex ">
        <label asp-for="EmpFirstNm" class="control-label"></label>
        <div class="w-100">
            <input asp-for="EmpFirstNm" class="form-control text-capitalize" />
            <span asp-validation-for="EmpFirstNm" class="text-danger err-input-msg"></span>
        </div>
    </div>

    @*--- MIDDLE NAME ---*@
    <div class="form-group d-md-flex">
        <label asp-for="EmpMidNm" class="control-label"></label>
        <div class="w-100">
            <input asp-for="EmpMidNm" class="form-control text-capitalize" />
            <span asp-validation-for="EmpMidNm" class="text-danger err-input-msg"></span>
        </div>
    </div>

    @*--- LAST NAME ---*@
    <div class="form-group d-md-flex">
        <label asp-for="EmpLastNm" class="control-label"></label>
        <div class="w-100">
            <input asp-for="EmpLastNm" class="form-control text-capitalize" />
            <span asp-validation-for="EmpLastNm" class="text-danger err-input-msg"></span>
        </div>
    </div>


    @*--- SUFFIX ---*@
    <div class="form-group d-md-flex">
        <label asp-for="Suffix" class="control-label"></label>
        <div class="w-100">
            <input asp-for="Suffix" class="form-control b-w-50" />
            <span asp-validation-for="Suffix" class="text-danger err-input-msg"></span>
        </div>
    </div>

    @*--- ALIAS ---*@
    <div class="form-group d-md-flex">
        <label asp-for="EmpAlias" class="control-label"></label>
        <div class="w-100">
            <input asp-for="EmpAlias" class="form-control  b-w-50 text-capitalize" />
            <span asp-validation-for="EmpAlias" class="text-danger err-input-msg"></span>
        </div>
    </div>
</div>



           
