/*--- Lg ----------------------------------------*/
@media screen and (min-width: 768px) {
    #main-body{
        background-color: unset;
        justify-content: end;
    }

    #main-body-center{
        width: 400px;
        
    }
}

/*--- xl ----------------------------------------*/
@media (min-width: 1024px){

}

/*--- 2xl ----------------------------------------*/
@media (min-width: 1280px){

    #main-body-center{
        width: 500px;
        
    }
}