@model HRMvc.Models.Authentication.LoginUiModel
@{
    var coName      = ViewData["CoName"]; 
    var exclusive   = ViewData["Exclusive"] as String;
    string register = "register";
    if (exclusive   != "true") register = "registerOrdinary";

    string? errorMsg = ViewData["ErrorMsg"] as String;
}
<div class="main-body-center-content">
    @*---- HEADER ----*@
    <div class="main-body-center-content-hdr">
        <h1 class="page-title">Welcome to @coName</h1>
    </div>

    @*---- Error Message ----*@
    @if (@errorMsg != null)
    {
        <div class="alert alert-danger p-0" role="alert">
            <span class="err-hdr-msg">@errorMsg</span>
        </div>
       
    }

    @*---- BODY ----*@
    <div class="main-body-center-content-body">
        <form action="/login" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*---- EMPLOYEE NUMBER ----*@
            <div class="form-group">
                <label asp-for="EmpNumber" class="control-label"></label>
                <input asp-for="EmpNumber" class="form-control" />
                <span asp-validation-for="EmpNumber" class="err-input-msg text-danger"></span>
            </div>

            @*---- PASSWORD ----*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="err-input-msg text-danger"></span>
            </div>

            @*---- FORGOT PASSWORD ----*@
            <a class="link-primary forgot-password-link d-block w-100 text-end ">Forgot Password?</a>


            @*---- LOGIN BUTTON ----*@
            <div class="auth-primary-cta">
                <input type="submit" value="Login" class="btn b-btn-primary w-100" />
            </div>
        </form>

        <div class="divider-wrapper place-items-row">
            <hr class="divider-horizontal" /> <span class="body-text-md">or</span> <hr class="divider-horizontal" />
        </div>

        @*---- LOGIN WITH GOOGLE BUTTON ----*@
        <a asp-controller="" asp-action="" class="btn b-btn-black-outline login-with-google-btn">
            <img src="/images/google-logo.png" />
            <span>Login with Google</span>
        </a>

        @*---- REGISTRATION LINK ----*@
        <div class="register-empno-link-wrapper">Don't have an account? <a asp-controller="Authentication" asp-action="@register" class="link-primary">Register</a></div>
    </div>
   
    
    @*---- FOOTER ----*@
    <div class="main-body-center-content-footer">© 2023 All Rights Reserved.</div>
</div>

