@model HRMvc.Models.Authentication.RegisterOrdinaryUiModel;
@{
    var coName = ViewData["CoName"];
    var errUserMsg = ViewData["errUserMsg"];
    var errEmailMsg = ViewData["errEmailMsg"];
}
<div class="main-body-center-content">
    @*---- HEADER ----*@
    <div class="main-body-center-content-hdr">
        <h1 class="page-title">Welcome to @coName </h1>
        <p class="body-text-lg  mt-2">Please fill out all the fields to register an account with your username.</p>
    </div>

    @*---- BODY ----*@
    <div class="main-body-center-content-body">
        <form action="registerOrdinary" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*---- Username ----*@
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="err-input-msg text-danger"></span>
                @if (errUserMsg != null)
                {
                    <span class="text-danger">@errUserMsg</span>
                }
            </div>


            @*---- Email Address ----*@
            <div class="form-group">
                <label asp-for="Email " class="control-label"></label>
                <input asp-for="Email " class="form-control" type="email" />
                <span asp-validation-for="Email" class="err-input-msg text-danger"></span>
                @if (errEmailMsg != null)
                {
                    <span class="err-input-msg text-danger">@errEmailMsg</span>
                }
            </div>
        
           

            @*---- PASSWORD ----*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="err-input-msg text-danger"></span>
            </div>

            @*---- Confirm Password ----*@
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="err-input-msg text-danger"></span>
            </div>

            @*---- REGISTER BUTTON ----*@
            <div class="auth-primary-cta">
                <input type="submit" value="Register" class="btn b-btn-primary w-100" />
            </div>
        </form>

        @*---- LOGIN LINK ----*@
        <div class="register-empno-link-wrapper">Already have an account? <a asp-controller="Authentication" asp-action="Login" class="link-primary">Login</a></div>
    </div>
   
    
    @*---- FOOTER ----*@
    <div class="main-body-center-content-footer">© 2023 All Rights Reserved.</div>
</div>

