@model HRMvc.Models.Authentication.RegisterUiModel;
@{
    var CoName = ViewData["CoName"];
}
<div class="main-body-center-content">
    @*---- HEADER ----*@
    <div class="main-body-center-content-hdr">
        <h1 class="page-title">Welcome to @CoName </h1>
        <p class="body-text-lg  mt-2">Please fill out all the fields to register an account with your employee number.</p>
    </div>

    @*---- BODY ----*@
    <div class="main-body-center-content-body">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*---- EMPLOYEE NUMBER ----*@
            <div class="form-group">
                <label asp-for="EmpNumber" class="control-label"></label>
                <input asp-for="EmpNumber" class="form-control" />
                <span asp-validation-for="EmpNumber" class="err-input-msg text-danger"></span>
            </div>

            <div class="row">
                @*---- Deployment Code ----*@
                <div class="form-group col-md-6">
                    <label asp-for="Position_ " class="control-label"></label>
                    <input asp-for="Position_ " class="form-control" />
                    <span asp-validation-for="Position_ " class="err-input-msg text-danger"></span>
                </div>

                @*---- Latest Movement No. ----*@
                <div class="form-group col-md-6">
                    <label asp-for="MovNumber " class="control-label"></label>
                    <input asp-for="MovNumber " class="form-control" />
                    <span asp-validation-for="MovNumber " class="err-input-msg text-danger"></span>
                </div>
            </div>

            
            <div class="row">
                @*---- Sec License ----*@
                <div class="form-group col-md-6">
                    <label asp-for="SecLicense " class="control-label"></label>
                    <input asp-for="SecLicense " class="form-control" />
                    <span asp-validation-for="SecLicense " class="err-input-msg text-danger"></span>
                </div>

                @*---- Date Hired ----*@
                <div class="form-group col-md-6">
                    <label asp-for="DateHired " class="control-label"></label>
                    <input asp-for="DateHired " class="form-control" type="date" />
                    <span asp-validation-for="DateHired" class="err-input-msg text-danger"></span>
                </div>
            </div>
           

            @*---- PASSWORD ----*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            @*---- Confirm Password ----*@
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            @*---- REGISTER BUTTON ----*@
            <div class="auth-primary-cta">
                <input type="submit" value="Register" class="btn b-btn-primary w-100" />
            </div>
        </form>

        @*---- LOGIN LINK ----*@
        <div class="register-empno-link-wrapper">Already have an account? <a asp-controller="Authentication" asp-action="Login" class="link-primary">Login</a></div>
    </div>
   
    
    @*---- FOOTER ----*@
    <div class="main-body-center-content-footer">© 2023 All Rights Reserved.</div>
</div>

