<div class="card shadow bordered-darkgreen mt-3">
    <div class="card-header text-white fw-bold " style="background-color: darkslategrey">
        Category Entry
    </div>

    <!-- Buttons -->
    <div class="bordered bg-black bg-opacity-10 px-2 py-1 bordered-bottom-darkgreen">
        <button onclick="@New" class="btn btn-primary btn-sm">New</button>
        <button onclick="@Save" class="btn btn-secondary btn-sm me-1">Save</button>
       
    </div>

    <div class="card-body border-2  ">
        
    </div>
</div>




@code {
    [Parameter] public UserClaimsModel? UserClaims { get; set; } = new();

    void New()
    {
    }
    
    void Save()
    {
    }
    
    void Stop()
    {
    }
    
    
    

}