
<!-- Modal For Data Entry-->
<div class="modal fade data-entry-modal" id="educRightModal" tabindex="-1" role="dialog" aria-labelledby="educRightModalLabel" aria-hidden="true" v-show="dataEntryIsVisible">
    <div class="modal-dialog modal-dialog-slide-right" role="document">
        <div class="modal-content">

            @*--- Header ----*@
            <div class="modal-header">
                <h3 class="modal-title" id="educRightModalLabel">Add Education Level</h3>
                <button type="button" class="modal-btn-collapse" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="form-section-action mx-0">
                @*--- Save Button ----*@
                <button type="button" class="btn b-btn-primary " data-bs-toggle="modal" data-bs-target="#educRightModal">Save </button>
            </div>

            <div class="modal-body py-0">
                @*--- Form ----*@
                <form>
                    @*LEVEL*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Level</label>
                        <select class="form-select"
                                data-val="true"
                                data-val-length="This field must not exceed 8 characters."
                                data-val-length-max="45"
                                id="empmasEducate_LEVEL"
                                name="empmasEducate.LEVEL">
                            <option>Elementary</option>
                            <option>High School</option>
                            <option>Junior High</option>
                            <option>Senior High</option>
                            <option>Vocational</option>
                            <option>College</option>
                            <option>Master</option>
                            <option>Doctorate</option>
                        </select>
                    </div>

                    @*SCHOOL*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">School</label>
                        <input class="form-control"
                               type="text"
                               data-val="true"
                               data-val-length="This field must not exceed 45 characters."
                               data-val-length-max="45"
                               maxlength="45"
                               id="empmasEducate_School"
                               name="empmasEducate.School" />
                    </div>

                    @*FROM*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">From</label>
                        <input class="form-control" type="date"
                               data-val="true"
                               data-val-length="This field must not exceed 45 characters."
                               data-val-length-max="45"
                               maxlength="45"
                               id="empmasEducate_FROM_"
                               name="empmasEducate.FROM_" />
                    </div>

                    @*TO*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">To</label>
                        <input class="form-control" type="date"
                               data-val="true"
                               data-val-length="This field must not exceed 45 characters."
                               data-val-length-max="45"
                               maxlength="45"
                               id="empmasEducate_TO_"
                               name="empmasEducate.TO_" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>