@model HRMvc.Models.Pis._EmpmasMasterUiModel
<section>
    <h2 class="form-section-caption mt-0">References</h2>

    @*--- Button to trigger data entry modal ---*@
    <div class="form-section-action">
        <button type="button" class="btn b-btn-primary-outline" @@click="newEntry()" data-bs-toggle="modal" data-bs-target="#charReferencesRightModal"><span class="fa-solid fa-plus btn-icon"></span> Add Character Reference </button>
    </div>

    @*--- Data List ---*@
    <partial name="PartialView/_111My201Records/CharReferences/_DataList"></partial>

    @*--- Data Entry ---*@
    <partial name="PartialView/_111My201Records/CharReferences/Modal/_DataEntryModal"></partial>

    @*--- Delete Confirmation ---*@
    <partial name="PartialView/_111My201Records/CharReferences/Modal/_DeleteConfirmationModal"></partial>
</section>
