@model HRMvc.Models.Pis._EmpmasMasterUiModel


<section>
    <h2 class="form-section-caption mt-0">Education</h2>

    @*--- Button to open data entry modal ---*@
    <div class="form-section-action">
        <button type="button" class="btn b-btn-primary-outline" @@click="newEntry()" data-bs-toggle="modal" data-bs-target="#educRightModal"><span class="fa-solid fa-plus btn-icon"></span> Add Education Level </button>
    </div>

    @*--- Data List ---*@
    <partial name="PartialView/_111My201Records/Education/_DataList"></partial>

    @*--- Data Entry ---*@
    <partial name="PartialView/_111My201Records/Education/Modal/_DataEntryModal"></partial>

    @*--- Delete Confirmation ---*@
    <partial name="PartialView/_111My201Records/Education/Modal/_DeleteConfirmationModal"></partial>
</section>

