

<section class="complex-section-wrapper tab-with-line-indicator">
    <h2 class="form-section-caption mt-0">Family</h2>
    @*Inner Tab*@
    <nav>
        <ul class="secondary-tab">
            <li v-for="tab in familyTabs" :class="{active: selectedFamilyTab == tab}"><button class="tab-btn" @@click="selectFamilyTab(tab)">{{tab}}</button></li>
        </ul>
    </nav>

    <div class="secondary-tabcontent-container">
        @******************************@
        @*----------GENERAL-----------*@
        @******************************@
        <div v-show="selectedFamilyTab == 'General'" class="tab-content">
            <partial name="PartialView/_111My201Records/Family/_General" />
        </div>


        @******************************@
        @*-----EMERGENCY CONTACT------*@
        @******************************@
        <div v-show="selectedFamilyTab == 'Emergency Contact'" class="tab-content">
            <partial name="PartialView/_111My201Records/Family/_EmergencyContact" />
        </div>


        @******************************@
        @*---------RELATIVES----------*@
        @******************************@
        <div v-show="selectedFamilyTab == 'Relatives'" class="tab-content">
            <partial name="PartialView/_111My201Records/Family/_Relatives" />
        </div>
    </div>
</section>





