<div class="tab-content">
    <form>
        @*CONTACT PERSON*@
        <div class="form-group d-md-flex">
            <label class="control-label">Contact Person</label>
            <input class="form-control" />
        </div>

        @*ADDRESS*@
        <div class="form-group d-md-flex">
            <label class="control-label">Address</label>
            <input class="form-control"  />
        </div>

        @*TELEPHONE NO.*@
        <div class="form-group d-md-flex">
            <label class="control-label">Telephone No.</label>
            <input class="form-control"  />
        </div>

        @*RELATIONSHIP*@
        <div class="form-group d-md-flex">
            <label class="control-label">Relationship</label>
            <input class="form-control"  />
        </div>
    </form>
</div>