@model HRMvc.Models.Pis._EmpmasMasterUiModel
<div class="tab-content active">
    <form>
        @*****************************************************@
        @*---------------------- PARENTS---------------------*@
        @*****************************************************@
        <section class=" captioned-container  d-flex flex-column gap-1">
            <h3 class="body-text-md">Parents</h3>

            @*---- Header for Medium Screen and up ----*@
            <div class="complex-section-header d-none d-md-flex gap-1">
                <div class="row-label"></div>
                <div class="col-label col-md-2 col-lg-3">Name</div>
                <div class="col-label col-md-1">Age</div>
                <div class="col-label col-md-2">Occupation</div>
                <div class="col-label col-md-2 col-lg-3">Address</div>
            </div>

            @*---- Body Content ----*@
            @*MOTHER*@
            <section class="complex-section-body d-flex  flex-column flex-md-row  gap-1">
                <h4 class="section-sub-title row-label">Mother</h4>

                @*MOTHER'S NAME*@
                <div class="form-group col-md-2 col-lg-3">
                    <label asp-for="empmasFamily!.Name" class="control-label d-md-none"></label>
                    <input asp-for="empmasFamily!.Name" class="form-control" />
                </div>

                @*MOTHER'S AGE*@
                <div class="form-group col-md-1">
                    <label class="control-label d-md-none">Age</label>
                    <input class="form-control"  />
                </div>

                @*MOTHER'S OCCUPATION*@
                <div class="form-group col-md-2">
                    <label class="control-label d-md-none">Occupation</label>
                    <input class="form-control"  />
                </div>

                @*MOTHER'S ADDRESS*@
                <div class="form-group col-md-2 col-lg-3">
                    <label class="control-label d-md-none">Address</label>
                    <input class="form-control"  />
                </div>
            </section>

            @*FATHER*@
            <section class="complex-section-body d-flex  flex-column flex-md-row  gap-1">
                <h4 class="section-sub-title row-label">Father</h4>

                @*FATHERS'S NAME*@
                <div class="form-group col-md-2 col-lg-3">
                    <label asp-for="empmasFamily!.Name" class="control-label d-md-none"></label>
                    <input asp-for="empmasFamily!.Name" class="form-control"  />
                </div>

                @*FATHERS'S AGE*@
                <div class="form-group col-md-1">
                    <label class="control-label d-md-none">Age</label>
                    <input class="form-control"  />
                </div>

                @*FATHERS'S OCCUPATION*@
                <div class="form-group col-md-2">
                    <label class="control-label d-md-none">Occupation</label>
                    <input class="form-control"  />
                </div>

                @*FATHERS'S ADDRESS*@
                <div class="form-group col-md-2 col-lg-3">
                    <label class="control-label d-md-none">Address</label>
                    <input class="form-control"  />
                </div>
            </section>
        </section>


        @*****************************************************@
        @*---------------------- CHILDREN -------------------*@
        @*****************************************************@
        <section class="captioned-container  label-auto-width">
            <h3 class="body-text-md">Children</h3>


            @*--- Table ----*@
            <table class="w-100" id="childrenTable">
                @*--- Header ---*@
                <thead>
                    <tr class="col-12">
                        <th class="col-1" scope="col">
                            <input type="checkbox" />
                        </th>
                        <th class="col-3" scope="col">Name</th>
                        <th class="col-2" scope="col">Birth</th>
                        <th class="col-2" scope="col">Gender</th>
                        <th class="col-2" scope="col">Relationship</th>
                        <th class="col-2" scope="col">Action</th>
                    </tr>
                </thead>


                @*--- Body ---*@
                <tbody>
                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox"  /></td>
                        <td class="col-3">User 1</td>
                        <td class="col-2">01/01/2023</td>
                        <td class="col-2">Female</td>
                        <td class="col-2">Sister</td>
                    </tr>

                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox" /></td>
                        <td class="col-3">User 1</td>
                        <td class="col-2">01/01/2023</td>
                        <td class="col-2">Female</td>
                        <td class="col-2">Sister</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-add-new-row">
                <button class="btn b-btn-primary-outline " id="addEducationBtn"><i class="fa-solid fa-plus"></i> &nbsp; Add Child</button>
            </div>
        </section>
    </form>
</div>