<div class="tab-content">
    <form>
        <div class="input-auto-width">
            @*--- Table ----*@
            <table class="w-100" id="otherFamilyMemberTbl">
                @*--- Header ---*@
                <thead>
                    <tr class="col-12">
                        <th class="col-1" scope="col">
                            <input type="checkbox" />
                        </th>
                        <th class="col-3" scope="col">Name</th>
                        <th class="col-2" scope="col">Birth</th>
                        <th class="col-2" scope="col">Relation</th>
                    </tr>
                </thead>


                @*--- Body ---*@
                <tbody>
                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox"  /></td>
                        <td class="col-3">User 1</td>
                        <td class="col-2">01/01/2023</td>
                        <td class="col-2">Sister</td>
                    </tr>

                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox"  /></td>
                        <td class="col-3">User 1</td>
                        <td class="col-2">01/01/2023</td>
                        <td class="col-2">Sister</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-add-new-row">
                <button class="btn b-btn-primary-outline " id=""><i class="fa-solid fa-plus"></i> &nbsp; Add Other Family Member</button>
            </div>
        </div>
    </form>
</div> 