<table class="w-100">
        @*--- Header ---*@
        <thead>
            <tr class="col-12">
                <th class="b-col-checkbx" scope="col">
                    <input type="checkbox" />
                </th>
                <th class="col-3" scope="col">Name</th>
                <th class="col-sm-3 col-2 b-d-sm-none" scope="col">Address</th>
                <th class="col-2 b-d-sm-none" scope="col">Telephone</th>
                <th class="col-2 b-d-sm-none" scope="col">Occupation</th>
                <th class="col-1" scope="col">Action</th>
            </tr>
        </thead>


        @*--- Body ---*@
        <tbody>
            <tr class="col-12">
                <td class="b-col-checkbx"><input type="checkbox" /></td>
                <td class="col-sm-3 col-2 text-truncate">Name</td>
                <td class="col-3 b-d-sm-none">Address</td>
                <td class="col-2 b-d-sm-none">Telephone</td>
                <td class="col-2 b-d-sm-none">Occupation</td>
                @*--- Actions ----*@
                <td class="col-1">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#charReferencesRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#charReferencesCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
                </td>
            </tr>

            <tr class="col-12">
                <td class="b-col-checkbx"><input type="checkbox" /></td>
                <td class="col-sm-3 col-2 text-truncate">Name</td>
                <td class="col-3 b-d-sm-none">Address</td>
                <td class="col-2 b-d-sm-none">Telephone</td>
                <td class="col-2 b-d-sm-none">Occupation</td>
                @*--- Actions ----*@
                <td class="col-1">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#charReferencesRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#charReferencesCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

