@model HRMvc.Models.Pis._EmpmasMasterUiModel


<form class="space-top-2rem">
    @*IMAGE*@
    <div class="form-img-container"><i class="fa-solid fa-user-tie"></i></div>

    @*LAST NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpLastNm" class="control-label"></label>
        <input asp-for="empmas!.EmpLastNm" class="form-control" disabled />
    </div>

    @*FIRST NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpFirstNm" class="control-label"></label>
        <input asp-for="empmas!.EmpFirstNm" class="form-control" disabled />
    </div>

    @*MIDDLE NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpMidNm" class="control-label"></label>
        <input asp-for="empmas!.EmpMidNm" class="form-control" disabled />
    </div>

    @*SUFFIX*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.Suffix" class="control-label"></label>
        <input asp-for="empmas!.Suffix" class="form-control b-w-50" disabled />
    </div>

    @*ALIAS*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpAlias" class="control-label"></label>
        <input asp-for="empmas!.EmpAlias" class="form-control b-w-50" disabled />
    </div>
</form>

