<div class="d-grid msds-home-btn " style="width: 120px; min-height: 80px; ">
    <a class="btn btn-outline-secondary text-center" href="@HRef" >
        
        <div class="col-12" style="padding-top: 5px;">
            <span class="lmd-hdr-icon1 icon1"><i class="@IconClass"></i></span>
        </div>

        <div class="col-12">
            <span class="lmd-hdr-text">@Caption</span>
        </div>
    </a>
</div>



@code {
    [Parameter]
    public string? HRef { get; set; } = string.Empty;

    [Parameter]
    public string? IconClass { get; set; } = string.Empty;

    [Parameter]
    public string? Caption { get; set; } = string.Empty;


}