@using HRApiLibrary.Models._00_Main


<div class="card">
    <div class="card-header fw-bold text-white bg-dark ">
        Company Details
    </div>


    <div class="card-body gap-3 p-4 ">

        <div class="d-flex my-2">
            <div class="fw-bold" style="width: 200px;">Selected Company</div>
            <div class="w-75 border-bottom">
                <span class="text-success fw-bold"> @UserCompany?.CompanyName</span>
            </div>
        </div>

        <div class="d-flex my-2">
            <div class="fw-bold" style="width: 200px;">Payroll Country</div>
            <div class="w-75 border-bottom">
                @UserCompany?.CountryName
            </div>
        </div>

        <div class="d-flex my-2">
            <div class="fw-bold" style="width: 200px;">Owner</div>
            <div class="w-75 border-bottom">
                @UserCompany?.OwnerName
            </div>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public UserCompanyModel?        UserCompany { get; set; } = new();

}
