<nav id="mainLeftMenu" class="mainLeftMenu lg-active notHovered" aria-label="side-navbar">

    <link rel="stylesheet" href="/css/Main/Layout/main_leftmenu.css" asp-append-version="true">

    <_LeftMenu_Button HRef="_001MyProfile"  IconClass="fa-solid fa-user-large"          Caption="My Profile"    />
    <_LeftMenu_Button HRef="02"             IconClass="fa-solid fa-users-gear"          Caption="Employee Mgt"  />
    <_LeftMenu_Button HRef="03"             IconClass="fa-solid fa-hand-holding-dollar" Caption="Payroll"       />
    <_LeftMenu_Button HRef="04"             IconClass="fa-solid fa-calculator"          Caption="Accounting"    />

</nav>


@code {

}
