<div class="lm-body">

    <div class="lm-body">
        <div class="lmd-content ">

            <a class="lmd-hdr text-start lm-item" href="@HRef">

                <span class="lmd-hdr-icon1 icon1"><i class="@IconClass"></i></span>
                <span class="lmd-hdr-text">@Caption</span>
            </a>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? HRef { get; set; } = string.Empty;

    [Parameter]
    public string? IconClass { get; set; } = string.Empty;

    [Parameter]
    public string? Caption { get; set; } = string.Empty;


}
