@using HRApiLibrary.DataAccess._10_Pis.Interface
<div style="padding-top:10px; ">
    <h6 class="text-white">User : @UserClaims?.UserId.ToString().PadLeft(7,'0') </h6>
</div>



@inject I_10_EmpmasDataAccess _empmas; 

@code {

    EmpmasModel? empmas = new();  

    [Parameter]
    public UserClaimsModel? UserClaims { get; set; } = new();

    protected  override void OnParametersSet()
    {
        //int userId = UserClaims == null ? 0 : UserClaims.UserId;
        //empmas = await _empmas._02ByUserId(userId);
        //StateHasChanged(); 

    }

}
