<table class="w-100" >
        @*--- Header ---*@
        <thead>
            <tr class="col-12">
                <th class="b-col-checkbx" scope="col">
                    <input type="checkbox" />
                </th>
                <th class="col-sm-1 col-md-2" scope="col">Level</th>
                <th class="col-4 text-truncate" scope="col">School</th>
                <th class="col-1 b-d-sm-none  " scope="col">From</th>
                <th class="col-1 b-d-sm-none  " scope="col">To</th>
                <th class="col-2 b-d-sm-none  " scope="col">Course</th>
                <th class="col-2 b-d-sm-none  " scope="col">Remarks</th>
                <th class="col-1" scope="col">Action</th>
            </tr>
        </thead>


        @*--- Body ---*@
        <tbody>
            <tr class="col-12">
                <td class="b-col-checkbx"><input type="checkbox" /></td>
                <td class="col-sm-1 col-md-2">Level</td>
                <td class="col-4 text-truncate">School Name</td>
                <td class="col-1 b-d-sm-none  ">From</td>
                <td class="col-1 b-d-sm-none  ">To</td>
                <td class="col-2 b-d-sm-none  ">Course</td>
                <td class="col-2 b-d-sm-none  ">Remarks</td>
                @*--- Actions ----*@
                <td class="col-1">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#educRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#educCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
                </td>
            </tr>

            <tr class="col-12">
                <td class="b-col-checkbx"><input type="checkbox" /></td>
                <td class="col-sm-1 col-md-2">Level</td>
                <td class="col-4 text-truncate">School Name</td>
                <td class="col-1 b-d-sm-none  ">From</td>
                <td class="col-1 b-d-sm-none  ">To</td>
                <td class="col-2 b-d-sm-none  ">Course</td>
                <td class="col-2 b-d-sm-none  ">Remarks</td>
                @*--- Actions ----*@
                <td class="col-1">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#educRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#educCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
