._0503-wrapper {
    min-width:  1300px;
    overflow:   auto;
}

.components-dtls {
    width: 90%;
    border-radius: 10px;
}
/*** Rate Settings Header ************************************/
.rs-hdr-wrapper {
    background-color: rgba(0,0,0,.08);
    height: 100%;
    font-weight: bold;
}
.rs-hdr-account-name {
    height: 63px;
    width: 200px;
    border: 1px solid green;
    margin:2px;
    padding:20px 0 0 5px; 
    text-align:center; 
}

.rs-hdr-border {
    border: 1px solid green; 
    padding:0; 
}
.rs-hdr-border-lr {
    border-left: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
}
.rs-hdr-border-bott {
    border-bottom: 1px solid green;
}
.rs-hdr-border-right {
    border-right: 1px solid green;
}

.rs-hdr-rates {
    height: 70px;
    width: 500px;
    margin: 2px;
}

.rs-hdr-btn-multiplier {
    height: 65px;
    padding: 5px 0 0 5px;
}

.rs-account-name {
    height: 100%;
    text-align: center;
    width: 200px;
    border: 1px solid white;
}

/*** Rate Settings - Details ************************************/
.rs-dtl-wrapper {
    width:100%; 
    height:50px; 
}

.rs-dtl-acct-name {
    width: 200px;
    padding-top: 15px;
    padding-left: 10px;
}

.rs-dtl-rates {
    width: 500px;
}

.rs-dtl-btn {
    
}


/*Deployed Personnel*/
.dp-empno {
    width:150px; 
}

.dp-employee-name {
    width: 500px;
}

.dp-employee-status {
    width: 75px; 
    text-align:center; 
}
.dp-action {
    width: 350px;
}


/***---- others*/ 
.border-bottom-dashed {
    border-bottom: 1px dashed rgba(0,0,0,.5)
}
/* --- Mobile ---------------------------------*/
@media screen and (min-width: 0px) and (max-width: 390px) {
}

/* --- Tablet ---------------------------------*/
@media screen and (min-width: 391px) and (max-width: 800px) {
    
}

/* --- Desktop ---------------------------------*/

@media screen and (min-width: 801px) and (max-width: 4320px) {


}
