@using HRApiLibrary.DataAccess._00_Main.Interface
@using HRApiLibrary.Models._00_Main
@using System.Security.Claims

@inject I_00MainDA _mainDA
@inject IConfiguration _config;
@{
    var userid = User.Claims.Where(c => c.Type == "UserId").FirstOrDefault();

    IEnumerable<Claim?>     claims      = User.Claims;
    UserClaimsModel         userClaims  = _mainDA._02UserClaimsContent(claims);

    string vue = _config.GetSection("Vue").Value;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    @*-- Bootsrap --*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*-- CSS --*@
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main/Layout/main_content.css" asp-append-version="true" />

    @*-- Font Awesome --*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    @*-- Radzen --*@
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

    @*-- Accounting --*@
    <link rel="stylesheet" href="~/css/msds-modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Accounting/acctg.css" asp-append-version="true" />
</head>

<body>
    <div class="main-wrapper">
        @*-- Main Header --*@
        <header class="main-hdr">
            <partial name="Main/PartialView/_mainHeader" />
        </header>


        <div class="main-body">
            @*-- Main Left Menu --*@
            <nav id="mainLeftMenu" class="mainLeftMenu lg-active" aria-label="side-navbar">
                <partial name="Main/PartialView/_04AccountingLeftMenu" />
            </nav>

            @*-- Main Content --*@
            <main role="main" class="mainPageContent mainLeftMenuIsActive" id="mainPageContent">
                <div class="container-fluid" id="app">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>


    @*-- Script --*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/Main/_00Main.js" asp-append-version="true"></script>
    <script src="~/lib/vue/@vue"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    @*-- Blazor Server Script --*@
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
