@using HRMvc.Views.BlazorPages.Components; 

<div  style="height:100%">
    <div class="bg-light px-2 py-1" style="background-color:white; height:100%; border-radius:5px; ">
        
        <Back_To_Home_Menu />
        

        <RadzenPanelMenu Click="OnParentClicked" Style="min-width:230px" Multiple="@multiple">
            <RadzenPanelMenuItem    Text="Management" Icon="home">
                <RadzenPanelMenuItem    Text="Company Settings"         Path="03/0501" Icon="cached" class="disabled" />
                <RadzenPanelMenuItem    Text="User Management"          Path="03/0506"  Icon="face" />
                <RadzenPanelMenuItem    Text="Chart of Accounts"        Path="03/0502"  Icon="line_weight"  />
                <div style="border-bottom: 1px solid rgba(0,0,0,.1); margin:0 10px" />
                <RadzenPanelMenuItem     Text="Payroll Group"           Path="03/0503"  Icon="attach_file"      Click="OnChildClicked" />
                <RadzenPanelMenuItem     Text="Employee Management"     Path="03/0504"  Icon="assignment" />
                <RadzenPanelMenuItem     Text="Employee Rates"          Path="03/0505"  Icon="announcement" /> 
            </RadzenPanelMenuItem>

            <RadzenPanelMenuItem Text="Transaction" Icon="build">
                <RadzenPanelMenuItem Text="Attenanance Entry"           Path="03/0601"  Icon="chrome_reader_mode" class="disabled"  />
                <div style="border-bottom: 1px solid rgba(0,0,0,.1); margin:0 10px" />
                <RadzenPanelMenuItem Text="Earnings Entry"              Path="03/0602"  Icon="account_balance_wallet" class="disabled"  />
                <RadzenPanelMenuItem Text="Loans Management"            Path="03/0603"  Icon="alarm_add" class="disabled"  />
                <RadzenPanelMenuItem Text="Deduction Entry"             Path="03/0604"  Icon="assignment_returned" class="disabled"  />
                <div style="border-bottom: 1px solid rgba(0,0,0,.1); margin:0 10px" />
                <RadzenPanelMenuItem Text="Payroll Process"             Path="03/0605"  Icon="autorenew" class="disabled"  />
            </RadzenPanelMenuItem>
            
            <RadzenPanelMenuItem Text="Report" Icon="assignment">
                <RadzenPanelMenuItem Text="Payroll Register"            Path="03/0701"  Icon="assignment" class="disabled"  />
                <RadzenPanelMenuItem Text="Payslip"                     Path="03/0702"  Icon="account_balance_wallet" class="disabled"  />
                <RadzenPanelMenuItem Text="Bank Advise"                 Path="03/0703"  Icon="announcement" class="disabled"  />
                <RadzenPanelMenuItem Text="Bank Charge"                 Path="03/0704"  Icon="assignment_return" class=""  />
                <RadzenPanelMenuItem Text="Compliance Report"           Path="03/0705"  Icon="class" class="disabled"  />
            </RadzenPanelMenuItem>

        </RadzenPanelMenu>

    </div>
    
</div>


@code {

    bool multiple = true;
    //EventConsole console;

    [Parameter]
    public UserClaimsModel? UserClaims { get; set; } = new();

    void OnParentClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} from child clicked");
    }

}
