
<div >
        <RadzenMenu Click="OnParentClicked" class="bg-secondary " >
            <span class="px-2">
                <RadzenMenuItem Text="Management" Icon="home">
                    <RadzenMenuItem Text="Company Settings"         Path="03/0501"      Icon="cached" class="disabled"  />
                    <RadzenMenuItem Text="User Management"          Path="03/0506"      Icon="face" />
                    <RadzenMenuItem Text="Chart of Accounts"        Path="03/0502"      Icon="line_weight"  />
                
                    <div style="border-bottom: 1px solid gray;" />
                
                    <RadzenMenuItem Text="Payroll Group"            Path="03/0503"      Icon="attach_file"      Click="OnChildClicked" />
                    <RadzenMenuItem Text="Employee Management"      Path="03/0504"      Icon="assignment" />
                    <RadzenMenuItem Text="Employee Rates"           Path="03/0505"      Icon="announcement" />
                </RadzenMenuItem>
            </span>
            


            <RadzenMenuItem Text="Transaction" Icon="build">
                <RadzenMenuItem Text="Attenanance Entry"         Path="03/0601"  Icon="chrome_reader_mode" class="disabled"  />

                <div style="border-bottom: 1px solid gray;" />

                <RadzenMenuItem Text="Earnings Entry"           Path="03/0602"  Icon="account_balance_wallet" class="disabled"  />
                <RadzenMenuItem Text="Loans Management"         Path="03/0603"  Icon="alarm_add" class="disabled"  />
                <RadzenMenuItem Text="Deduction Entry"          Path="03/0604"  Icon="assignment_returned" class="disabled"  />

                <div style="border-bottom: 1px solid gray;" />

                <RadzenMenuItem Text="Payroll Process"         Path="03/0605"  Icon="autorenew" class="disabled"  />

            </RadzenMenuItem>

            <RadzenMenuItem Text="Report" Icon="assignment">
                <RadzenMenuItem Text="Payroll Register"         Path="03/0701"  Icon="assignment" class="disabled"  />
                <RadzenMenuItem Text="Payslip"                  Path="03/0702"  Icon="account_balance_wallet" class="disabled"  />
                <RadzenMenuItem Text="Bank Advise"              Path="03/0703"  Icon="announcement" class="disabled"  />
                <RadzenMenuItem Text="Bank Charge"              Path="03/0704"  Icon="assignment_return" class=""  />
                <RadzenMenuItem Text="Compliance Report"        Path="03/0705"  Icon="class" class="disabled"  />

            </RadzenMenuItem>
            



        </RadzenMenu>


        

</div>





@code {

    [Parameter]
    public UserClaimsModel? UserClaims { get; set; } = new();


    void OnParentClicked()
    {

    }

    void OnChildClicked()
    {
        
    }

}
