<nav aria-label="top-navbar">
    <div class="container-fluid with-dropdown" style="padding-top:.3em;">
        <button class="btn  menu-toggle-icon " id="menu-toggle-icon">
            <i class="fa-solid fa-bars open-menu-icon"></i>
            <i class="fa-solid fa-xmark close-menu-icon"></i>
        </button>

        @*-- Logo --*@
        <a class="co-info align-items-start">
            <span class="co-logo"></span>
            <h1 class="co-name">

                @* @if (coName != null) @coName *@
                <span>Company Name </span>

            </h1>
        </a>


        @*-- User Avatar --*@
        <div class="b-dropdown user-avatar-wrapper">
            <div class="user-avatar" id="toggle-avatar">
                <i class="fa-solid fa-user user-avatar-icon"></i>

                @* <span class="user-name">@empName</span> *@

            </div>


            <ul class="b-dropdown-menu">
                <li class="b-dropdown-item">
                    <a asp-action="_401Password" class="b-dropdown-link">Password</a>
                </li>


                @* --- For Non Exclusive Company -------- *@

                @* @{  string? isCoExclusiveUse = _config.GetSection("CompanyInfo:Exclusive").Value; } *@

                @* @if (isCoExclusiveUse == "false")
                { *@
                    <li class="b-dropdown-item"> <hr class="divider-horizontal my-1"> </li>

                    <li class="b-dropdown-item">
                        <a asp-action="_402MyEngagement" class="b-dropdown-link">My Engagement</a>
                    </li>




                    <li class="b-dropdown-item">
                        <a asp-action="_403BusinessesAndSubscription" asp-asp-controller="Main" class="b-dropdown-link">Businesses and Subscriptions</a>
                    </li>

                    @*<li class="b-dropdown-item">
                        <a href="" class="b-dropdown-link">Subscriptions</a>
                      </li>*@

                @* } *@
                @* --- For Non Exclusive Company -------- *@



                <li class="b-dropdown-item"> <hr class="divider-horizontal my-1"> </li>

                <li class="b-dropdown-item">
                    <a asp-controller="Main" asp-action="_404Logout" class="b-dropdown-link">Logout</a>
                </li>
            </ul>


        </div>
    </div>
</nav>


@code {

}
