@using HRApiLibrary.Models._10_Pis
@using HRMvc.Applications._02HR.Views.BlazorPages._00Library; 
@using HRMvc.Applications._02HR.Views.BlazorPages._02DataEntry.F227._227_02_DLSettings; 

<style>
    ._227-bordered {
        border: 1px groove lightgray; 
    }
    ._227-bordered-bottom {
        border-bottom: 1px groove lightgray; 
    }

</style>


<div class="d-flex w-100 p-1 " style="min-height: 75vh; border: 1px solid gray; ">
    @* *** Column 1  *@
    <div class="col-sm-12 col-md-4 p-1 _227-bordered"  >
        <_02DtlsHdr dtlCaption="First Approver" />  

        <_227_02_DefLeaveSettings_Approver UserClaims="@UserClaims" ApproverLevel="1" />      

    </div>


    @* *** Column 2  *@
    <div class="col-sm-12 col-md-4 p-1 _227-bordered">
        <_02DtlsHdr dtlCaption="Second Approver" />
        <_227_02_DefLeaveSettings_Approver UserClaims="@UserClaims" ApproverLevel="2" />
    </div>

    @* *** Column 3  *@
    <div class="col-sm-12 col-md-4 p-1 _227-bordered">
        <_02DtlsHdr dtlCaption="Final Approver" />
        <_227_02_DefLeaveSettings_Approver UserClaims="@UserClaims" ApproverLevel="3" />
    </div>

 
</div>



@code {

    [Parameter]
    public UserClaimsModel      UserClaims      { get; set; } = new();

    string?     pisdb   = string.Empty;
    string?     paydb   = string.Empty;
    string?     conn    = string.Empty;

    protected override void OnParametersSet()
    {
        if (UserClaims == null) return;
        pisdb = UserClaims.SchemaUserPis;
        paydb = UserClaims.SchemaUserPay;
        conn = UserClaims.Conn;

        if (conn == null) return;
        if (pisdb == null) return;
        if (paydb == null) return;
    }

}