<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @css1" aria-current="page" href="#">Default Approver</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @css2" href="#">Leave Approver</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  @css3" href="#">Employee Leave Credit</a>
    </li>

    
</ul>


@code {

    string? css1 = "active";
    string? css2, css3; 
    int activeTab = 1; 



    void SetActive(int no) {
        css1 = string.Empty;
        css2 = string.Empty;
        css3 = string.Empty;

        if (no == 1) css1 = "active"; 
        if (no == 2) css2 = "active"; 
        if (no == 3) css3 = "active"; 


    }

}
