@using HRApiLibrary.DataAccess._00_Main.Interface;
@using HRApiLibrary.Models._00_Main
@using HRApiLibrary.Models._00_MainPis

@inject I_00MainPisAccess _mainPis
@inject NotificationService _NotificationService;
@inject DialogService _DialogService;

<div>
    <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter" class="@(errorMsg != string.Empty ? "d-flex mt-2 mb-2" : "d-none mt-2 mb-2")">
        @errorMsg
    </RadzenAlert>

    <RadzenTemplateForm TItem="EmpmasEmergencyContactModel" Data="@empmasemergencycontact" Submit="@HandleSubmit" >

        <div class="form-section-action">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Save Group" />
        </div>

        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
        
            <RadzenColumn Size="12" SizeMD="6">
                  <RadzenStack Gap="1rem">
                          
                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="3">
                            <RadzenLabel Text="Contact Person" Component="Name"/>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="9">
                            <RadzenTextBox  Style="width: 100%;" Name="Name" @bind-Value="empmasemergencycontact!.Name" />
                        </RadzenColumn>
                    </RadzenRow>


                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="3">
                            <RadzenLabel Text="Address" Component="Addr" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="9">
                            <RadzenTextArea Style="width: 100%;" Name="Addr" @bind-Value="empmasemergencycontact!.Addr" />
                        </RadzenColumn>
                    </RadzenRow>


                    <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="3">
                            <RadzenLabel Text="Telephone No." Component="TelNo" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenTextBox Style="width: 100%;" Name="TelNo" @bind-Value="empmasemergencycontact!.TelNo" />
                        </RadzenColumn>
                    </RadzenRow>


                     <RadzenRow AlignItems="AlignItems.Center">
                        <RadzenColumn Size="12" SizeMD="3">
                            <RadzenLabel Text="Relationship" Component="Relationship" />
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="9">
                            <RadzenTextBox Style="width: 100%;" Name="Relationship" @bind-Value="empmasemergencycontact!.Relationship"  />
                        </RadzenColumn>
                    </RadzenRow>
                      
                           
                        </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>


    <div>userId: @UserClaims.UserId *** conn : @conn) </div>

</div>



@code {
    [Parameter]
    public UserClaimsModel UserClaims { get; set; } = new();

    string? pisdb = string.Empty;
    string? paydb = string.Empty;
    string? conn = string.Empty;

    //-- Initialization ----------------
    EmpmasEmergencyContactModel? empmasemergencycontact = new();

    string? errorMsg = string.Empty;
    int userId = 0;

    protected override async void OnParametersSet()
    {
        if (UserClaims == null) return;
        pisdb = UserClaims.SchemaUserPis;
        paydb = UserClaims.SchemaUserPay;
        conn = UserClaims.Conn;

        if (conn == null) return;
        if (pisdb == null) return;
        if (paydb == null) return;

        userId = UserClaims.UserId;
        //empmasemergencycontact = await _mainPis._02EmpmasEmergencyContact(userId, pisdb! , conn);
        StateHasChanged();
    }



    //-- Save Row ----------------
    async Task HandleSubmit()
    {
        if (empmasemergencycontact is null) return;
        EmpmasEmergencyContactModel? rec = empmasemergencycontact;

        if (rec is null) return;
        if (!SafeToSave(rec)) return;

        rec.EmpmasId = userId;

        if (rec.Id == 0)
        {
            var res = await _mainPis._01EmpmasEmergencyContact(rec, pisdb!, conn!);
            if (res != null)
            {
                rec.Id = res.Id;
            }
        }
        else
        {
            await _mainPis._03EmpmasEmergencyContact(rec.Id, rec, pisdb!, conn!);
        }

        errorMsg = string.Empty;
    }

    //-- Safe to Save ----------------
    bool SafeToSave(EmpmasEmergencyContactModel rec)
    {
        if(rec.Name is null || rec.Name == string.Empty)
        {
            errorMsg = "Name is required.";
            return false;    
        }

        if(rec.Name is not null && rec.Name.Length > 25)
        {
            errorMsg = "Name should be at most 25 characters.";
            return false;
        }

        if(rec.Addr is not null && rec. Addr.Length > 60)
        {
            errorMsg = "Address should be at most 60 characters.";
            return false;
        }

        if (rec.TelNo is not null && rec.TelNo.Length > 15)
        {
            errorMsg = "Telephone No. should be atmost 15 characters.";
            return false;
        }

        if(rec.Relationship is not null && rec.Relationship.Length > 20)
        {
            errorMsg = "Relationship should be atmost 20 characters.";
            return false;
        }


        return true;
    }
}
