<!-- Modal For Data Entry-->
<div class="modal fade data-entry-modal" id="famRelativesRightModal" tabindex="-1" role="dialog" aria-labelledby="famRelativesRightModalLabel" aria-hidden="true" v-show="dataEntryIsVisible">
    <div class="modal-dialog modal-dialog-slide-right" role="document">
        <div class="modal-content">

            @*--- Header ----*@
            <div class="modal-header">
                <h3 class="modal-title" id="famRelativesRightModalLabel">Add Other Relative</h3>
                <button type="button" class="modal-btn-collapse" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="form-section-action mx-0">
                @*--- Save Button ----*@
                <button type="button" class="btn b-btn-primary " data-bs-toggle="modal" data-bs-target="#famRelativesRightModal">Save </button>
            </div>

            <div class="modal-body py-0">
                @*--- Form ----*@
                <form>
                    @*NAME*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Name</label>
                        <input class="form-control" />
                    </div>

                    @*BIRTH*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">Birth</label>
                        <input class="form-control b-w-50" type="date" />
                    </div>

                    @*RELATIONSHIP*@
                    <div class="form-group d-md-flex  b-w-50">
                        <label class="control-label">Relationship</label>
                        <select class="form-select">
                            <option>Father</option>
                            <option>Mother</option>
                            <option>Brother</option>
                            <option>Sister</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>