<!-- Modal For Confirmation-->
<div class="modal fade" id="famRelativesCenterModal" tabindex="-1" role="dialog" aria-labelledby="famRelativesCenterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slide-top" role="document">
        <div class="modal-content">
            @*--- Header ----*@
            <div class="modal-header">
                <h3 class="modal-title" id="famRelativesCenterModalLabel">Delete Record? </h3>
                <button type="button" class="btn-close modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @*--- Body ----*@
            <div class="modal-body">
                Deleting a record will permanently remove it from the list.
            </div>
            @*--- Buttons ----*@
            <div class="modal-footer">
                <button type="button" class="btn b-btn-black-outline" data-bs-dismiss="modal">No, Keep Record</button>
                <button type="button" class="btn b-btn-danger">Yes, Delete Record</button>
            </div>
        </div>
    </div>
</div>