.swal-top-z {   z-index: 9999 !important; }
.swal2-container { z-index: 6000 !important; /* higher than your modal's 5001 */ }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translateY(-20px);
        animation-timing-function: ease-in-out;
    }
}

.bounce {
    animation: bounce 0.6s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out;
}

.hover-div:hover {
    background-color: #f8f9fa; /* Bootstrap's bg-light */
    /*cursor: pointer;*/
}

.div-qty input[type="number"] {
    background-color: yellow !important;
    border: 2px solid red !important;
}

