

.mainLeftMenu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    transition: 0.5s;
    padding: 1rem;
    overflow-x: hidden;
    opacity: 0; /* Makes the menu completely transparent */
    transform: scale(0); /* Shrinks the menu down to nothing */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Optional: Smooth transition effect */
}

    .mainLeftMenu .lm-body {
        width: 100%;
    }

    .mainLeftMenu .lm-body:not(:first-of-type) {
        width: 100%;
        padding-top: 1.5rem;
    }

    .mainLeftMenu .lm-category {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 500;
        padding: .5rem 1rem;
        margin: 0;
        text-align: start;
    }

    .mainLeftMenu .lmd-hdr {
        padding: .5rem .5rem .5rem 1rem;
        white-space: nowrap;
        border-radius: .25rem;
        cursor: pointer;
        color: #212529;
    }


    .mainLeftMenu .lmd-hdr:hover{
       background: #19875414
    }


    .mainLeftMenu .lmd-hdr-text, .lmd-dtl-text,
    .lmd-subcontent {
        white-space: nowrap;
    }



    .mainLeftMenu .icon1 {
        margin-right: 1rem;
        min-width: 1.5rem;
        display: inline-block;
    }

    .mainLeftMenu .lmd-subcontent .icon1 {
        margin-right: 0rem;
    }

    .mainLeftMenu .lm-dtls {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    .mainLeftMenu .lmd-subcontent-wrapper .lmd-subcontent {
        padding: .5rem .5rem .5rem 2rem;
    }

    .mainLeftMenu a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    .mainLeftMenu .lmd-subcontent-item {
        color: black;
    }


.lm-toggle-subcontent {
    border: none;
    background: transparent;
}

    .lm-toggle-subcontent.lmd-hdr-icon2 .fa-angle-up,
    .lmd-content .lmd-subcontent {
        display: none;
    }


/*------------------*/
/*-- Active state --*/
.lmd-content.active {
    background-color: #19875414;
}

    .lmd-content.active .lmd-hdr {
        background-color: #19875414;
    }

    .lmd-content.active .lmd-hdr-icon1, .lmd-content.active .lmd-hdr-text {
        font-weight: 600;
        color: var(--color-primary);
    }


    .lmd-content.active .fa-angle-down {
        display: none
    }

    .lmd-content.active .fa-angle-up,
    .lmd-content.active .lmd-subcontent {
        display: block
    }

.mainLeftMenu .lm-body.active .lmd-hdr {
    background: #1f473b;
    color: white;
}

/***************************************************************************************/
/****************************** Media Queries ******************************************/
/***************************************************************************************/
/*--- Medium ----------------------------------------*/
@media screen and (min-width: 640px) {
}

/*--- Large ----------------------------------------*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .mainLeftMenu {
        width: 85px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        opacity: 1;
        transform:scale(1);
    }
    
    .mainLeftMenu.notHovered {
        width: 155px;
    }


        .mainLeftMenu .lmd-hdr {
            padding: .5rem .5rem .5rem .95rem;
            text-align: center;
        }

        .lmd-dtl-text, .lmd-subcontent,
        .lmd-hdr-details {
            display: inline-block;
        }


        .mainLeftMenu .icon1 {
            margin-right: 0;
        }

        .mainLeftMenu .lmd-subcontent-wrapper,
        .lmd-hdr-text{
            display: none;
        }


        .mainLeftMenu .lmd-content.active .lmd-subcontent-wrapper, .mainLeftMenu.notHovered .lmd-hdr-text {
            display: block;
        }

        .mainLeftMenu.notHovered .lmd-hdr {
            padding: 1rem 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            flex-direction: column;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid rgb(157 157 157 / 18%);
        } 
        
        
        .mainLeftMenu.notHovered .lmd-hdr i {
           font-size: larger;
        }

    .mainLeftMenu .lm-category {
        padding-inline: 0;
        font-size: .65rem;
        margin-left: -8px;
        text-align: center;
    }





        /*------------------*/
        /*-- Active state --*/
        .mainLeftMenu.active {
            width: 330px;
        } 
        
        .mainLeftMenu.notHovered.active {
            width: 155px;
        } 
        
        .mainLeftMenu.notHovered.active .lmd-hdr{
            padding: 1rem .5rem;
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .mainLeftMenu.notHovered.active .icon1 {
            margin-right: 0;
        }

        .mainLeftMenu.active .lmd-hdr {
            padding: .5rem .5rem .5rem 1rem;
            text-align: center;
        }

        .mainLeftMenu.active .lmd-hdr-text, .lmd-dtl-text, .lmd-subcontent {
            display: inline-block;
        }

        .mainLeftMenu.active .lmd-hdr-details {
            display: flex !important;
        }

        .mainLeftMenu.active .icon1 {
            margin-right: 1.25rem;
        }

        .mainLeftMenu .lmd-subcontent .icon1 {
            margin-right: .10rem;
        }


        .mainLeftMenu.active .lm-category {
            text-align: start;
            margin-left: 0;
            font-size: .75rem;
        }
}



/*--- xl ----------------------------------------*/
@media screen and (min-width: 1280px) {
}



/*--- 2xl ----------------------------------------*/
@media screen and (min-width: 1400px) {
}


/*--- Special Breakpoints ----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (max-width: 767px) {
}

.mainLeftMenu .lmd-subcontent .icon1 {
    margin-right: 0rem;
    font-size: .5rem;
}