<!-- Modal For Data Entry-->
<div class="modal fade data-entry-modal" id="famGeneralRightModal" tabindex="-1" role="dialog" aria-labelledby="famGeneralRightModalLabel" aria-hidden="true" v-show="dataEntryIsVisible">
    <div class="modal-dialog modal-dialog-slide-right" role="document">
        <div class="modal-content">

            @*--- Header ----*@
            <div class="modal-header">
                <h3 class="modal-title" id="famGeneralRightModalLabel">Add Family Member</h3>
                <button type="button" class="modal-btn-collapse" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="form-section-action mx-0">
                @*--- Save Button ----*@
                <button type="button" class="btn b-btn-primary " data-bs-toggle="modal" data-bs-target="#famGeneralRightModal">Save </button>
            </div>

            <div class="modal-body py-0">
                @*--- Form ----*@
                <form>
                    @*NAME*@
                    <div class="form-group d-md-flex">
                        <label class="control-label">Name</label>
                        <input class="form-control"
                               type="text"
                               data-val="true"
                               data-val-length="This field must not exceed 80 characters."
                               data-val-length-max="80"
                               maxlength="80"
                               id="empmasFamily_Name"
                               name="empmasFamily.Name" />
                    </div>

                    @*BIRTH*@
                    <div class="form-group d-md-flex b-w-50">
                        <label class="control-label">Birth</label>
                        <input class="form-control" type="date"
                               data-val="true"
                               data-val-length="This field must not exceed 10 characters."
                               id="empmasFamily_Birth"
                               name="empmasFamily.Birth"/>
                    </div>

                    @*GENDER*@
                    <div class="form-group d-md-flex  b-w-50">
                        <label class="control-label">Gender</label>
                        <select class="form-select" 
                                data-val="true"
                                data-val-length="This field must not exceed 45 characters."
                                data-val-length-max="45"
                                id="empmasFamily_Sex"
                                name="empmasFamily.Sex">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>

                    @*RELATIONSHIP*@
                    <div class="form-group d-md-flex  b-w-50">
                        <label class="control-label">Relationship</label>
                        <select class="form-select" data-val="true"
                                data-val-length="This field must not exceed 45 characters."
                                data-val-length-max="45"
                                id="empmasFamily_RelationCode"
                                name="empmasFamily.RelationCode">
                            <option>Father</option>
                            <option>Mother</option>
                            <option>Brother</option>
                            <option>Sister</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>