/*--- Lg ----------------------------------------*/
@media screen and (min-width: 768px) {

    .signup-create-usercompany .submit-btn {
        padding-left: calc(185px + 1rem);
    }

        .signup-create-usercompany .submit-btn > input {
            max-width: 500px;
        }

    .signup-create-usercompany h2.form-section-caption {
        padding-left: 32px;
    }

    .b-pl-md-4 {
        padding-left: 2.5rem;
    }


   

    .right .backdrop {
        height: 90% !important;
        width: 90% !important;
    }

    .right .form-width {
        width: 80%
    }

    .left .card {
        height: 100%;
    }

    

   
  
}

body {
    background: url("/images/login-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.auth-main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.main-hdr {
}


/*--- Body ---*/
.main-body {
    background-color: rgba(250, 252, 251, 0.3);
}


.main-body-center {
    position: relative;
    min-height: 100%;
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: rgb(255 245 245 / 0%);
}


.main-body-center-content {
    position: relative;
    min-height: 100%;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    overflow-x:hidden;
}


.main-body-center-content-hdr {
    padding: var( --space-xl) 0;
}

.main-body-center-content-hdr h1 {
    text-align: center;
}

.main-body-center-content-hdr p {
    text-align: center;
}

.main-body-center-content-body {
}

.main-body-center-content-footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: var(--text-b2);
}
/*--- Signup Create Usercompany ---*/

.signup-create-usercompany .main-body {
    width: 100%;
    background-color: rgba(255 245 245 / 0%);
}

.signup-create-usercompany .main-body-center {
    width: 100%;
    background-color: rgba(255 245 245 / 0%);
}


.signup-create-usercompany .main-body-center-content {
    max-width: 900px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signup-create-usercompany .main-body-center-content  .form-control {
    max-width: 500px;
}

.signup-create-usercompany h2.form-section-caption {
    padding-left: 12px;
    margin-inline: -1rem;
    margin-bottom: 1rem;
}

.signup-create-usercompany  .submit-btn{
    padding-left:0;
}

.signup-create-usercompany .submit-btn input {
    width: 100%;
}

.signup-create-usercompany hr.divider-horizontal {
    background-color: #e9ecef;
}

/*--- Buttons ---*/
.auth-primary-cta {
    margin-top: var(--space-lg);
}

.login-with-google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.login-with-google-btn > img {
    width: 1.1rem;
}

.register-empno-link-wrapper {
    padding: var(--space-lg) 0;
    text-align: center;
    font-size: var(--text-b2);
}

.forgot-password-link {
    font-size: var(--text-b2);
    margin-top: -8px;
    padding-right: 5px;

}


.b-pl-md-4 {
    padding-left: 0;
}

.form-control{
    max-width:100%;
}
