/*--- sm ----------------------------------------*/
@media (max-width: 767px) {

    .right .form-width {
        width: 80%
    }

    .right .backdrop {
        height: 100% !important;
        width: 100% !important;
    }
}




/*Standard -----------------------------*/
.right {
    position: absolute;
    z-index: 100;
    background: rgba(255,255,255,.5);
    justify-content: center;
}

.right .backdrop {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
}


.left .card {
    height: 100%;
}