@model HRMvc.Models.Pis._EmpmasMasterUiModel

<section >
    <h2 class="form-section-caption mt-0">Address</h2>
    <form asp-action="" >
        @*SAVE BUTTON*@
        <div class="form-section-action">
            <button class="btn b-btn-primary">Save</button>
        </div>

        @*************************************************@
        @*-------- Present ------------------------------*@
        @*************************************************@
        <div class="b-row captioned-container ">
            <h3 class="body-text-md">Present</h3>
            <div class="col-xl-5">
                @*PRESENT ADDRESS*@
                <div class="form-group d-md-flex mb-2">
                    <label asp-for="empmasAddress!.PresAdd" class="control-label"></label>
                    <textarea asp-for="empmasAddress!.PresAdd" class="form-control" rows="3" cols="50" ></textarea>
                </div>
            </div>

            <div class="col-xl-5">

                @*PRESENT CITY*@
                <div class="form-group d-md-flex mb-2">
                    <label asp-for="empmasAddress!.PresAddCity" class="control-label"></label>
                    <select asp-for="empmasAddress!.PresAddCity" class="form-select" >
                        <option selected>Select a city</option>
                        <option value="1">City 1</option>
                        <option value="2">City 2</option>
                    </select>
                </div>

                @*PRESENT TELNO*@
                <div class="form-group d-md-flex mb-md-0 mb-2">
                    <label asp-for="empmasAddress!.PresAddTelNo" class="control-label"></label>
                    <input asp-for="empmasAddress!.PresAddTelNo" class="form-control"  />
                </div>
            </div>
        </div>

        @*************************************************@
        @*-------- Provincial ---------------------------*@
        @*************************************************@

        <div class="b-row captioned-container ">
            <h3 class="body-text-md">Provincial</h3>

            <div class="col-xl-5 ">

                @*PROVINCIAL ADDRESS*@
                <div class="form-group d-md-flex mb-2">
                    <label asp-for="empmasAddress!.ProvAdd" class="control-label"></label>
                    <textarea asp-for="empmasAddress!.ProvAdd" class="form-control" rows="3" cols="50" ></textarea>
                </div>
            </div>

            <div class="col-xl-5">

                @*PROVINCIAL CITY*@
                <div class="form-group d-md-flex mb-2">
                    <label asp-for="empmasAddress!.ProvAddCity" class="control-label"></label>
                    <select asp-for="empmasAddress!.ProvAddCity" class="form-select" >
                        <option selected>Select a city</option>
                        <option value="1">City 1</option>
                        <option value="2">City 2</option>
                    </select>
                </div>

                @*PROVINCIAL TELNO*@
                <div class="form-group d-md-flex mb-md-0 mb-2">
                    <label asp-for="empmasAddress!.ProvAddTelNo" class="control-label"></label>
                    <input asp-for="empmasAddress!.ProvAddTelNo" class="form-control"  />
                </div>
            </div>
        </div>

    </form>
</section>



