@model HRMvc.Models.Pis._EmpmasMasterUiModel


<section>
    <h2 class="form-section-caption mt-0">References</h2>
    <form >
        <div class="label-auto-width">
            @*--- Table ----*@
            <table class="w-100 position-relative" id="referenceTable">
                @*--- Header ---*@
                <thead>
                    <tr class="col-12">
                        <th class="col-1" scope="col">
                            <input type="checkbox"  />
                        </th>
                        <th class="col-3" scope="col">Name</th>
                        <th class="col-3" scope="col">Address</th>
                        <th class="col-2" scope="col">Telephone</th>
                        <th class="col-3" scope="col">Occupation</th>
                    </tr>
                </thead>


                @*--- Body ---*@
                <tbody>
                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox"  /></td>
                        <td class="col-3">Name</td>
                        <td class="col-3">Address</td>
                        <td class="col-2">Telephone</td>
                        <td class="col-3">Occupation</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-add-new-row">
                <button class="btn b-btn-primary-outline " id=""><i class="fa-solid fa-plus"></i> &nbsp; Add Reference</button>
            </div>
        </div>
    </form>


</section>

