@model HRMvc.Models.Pis._EmpmasMasterUiModel

<section>
    <h2 class="form-section-caption mt-0">Clearance</h2>

    <form >
        @*SAVE BUTTON*@
        <div class="form-section-action">
            <button class="btn b-btn-primary">Save</button>
        </div>

        <div class="row b-row">
            @*--- Left Column---*@
            <div class="col-xl-5">

                @*NBI*@
                <div class="form-group d-md-flex">
                    <label class="control-label">NBI Expire</label>
                    <input  class="form-control" type="date"  />
                </div>


                @*POLICE*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Police Expire</label>
                    <input  class="form-control" type="date"  />
                </div>

                @*PNP*@
                <div class="form-group d-md-flex">
                    <label class="control-label">PNP Expire</label>
                    <input  class="form-control" type="date"  />
                </div>

                @*BARANGAY*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Barangay Expire</label>
                    <input  class="form-control" type="date"  />
                </div>
            </div>


            @*--- Right Column---*@
            <div class="col-xl-5">
                @*NEURO*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Neuro Expire</label>
                    <input  class="form-control" type="date"  />
                </div>

                @*DRUGTEST*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Drugtest Expire</label>
                    <input class="form-control" type="date"  />
                </div>

                @*COURT*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Court Expire</label>
                    <input class="form-control" type="date"  />
                </div>

                @*MEDICAL*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Medical Expire</label>
                    <input class="form-control" type="date"  />
                </div>
            </div>
        </div>
    </form>
</section>

