@model HRMvc.Models.Pis._EmpmasMasterUiModel

<section class="complex-section-wrapper">
    <h2 class="form-section-caption mt-0">Education</h2>

    <form >
        <div class="input-auto-width">
            @*--- Table ----*@
            <table class="w-100" id="educationTable">
                @*--- Header ---*@
                <thead>
                    <tr class="col-12">
                        <th class="col-1" scope="col">
                            <input type="checkbox" />
                        </th>
                        <th class="col-2" scope="col">Level</th>
                        <th class="col-3" scope="col">School</th>
                        <th class="col-1" scope="col">From</th>
                        <th class="col-1" scope="col">To</th>
                        <th class="col-2" scope="col">Course</th>
                        <th class="col-2" scope="col">Remarks</th>
                    </tr>
                </thead>


                @*--- Body ---*@
                <tbody>
                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox" /></td>
                        <td class="col-2">Level</td>
                        <td class="col-3">School</td>
                        <td class="col-1">From</td>
                        <td class="col-1">To</td>
                        <td class="col-2">Course</td>
                        <td class="col-2">Remarks</td>
                    </tr>
                </tbody>
            </table>
            <div class="table-add-new-row">
                <button class="btn b-btn-primary-outline " id="addEducationBtn"><i class="fa-solid fa-plus"></i> &nbsp; Add Level of Education</button>
            </div>
        </div>
    </form>


</section>
