<section>
    <h2 class="form-section-caption mt-0">Employment Record</h2>

    <form >
        <div class="input-auto-width">
            @*--- Table ----*@
            <table class="w-100">
                @*--- Header ---*@
                <thead>
                    <tr class="col-12">
                        <th class="col-1" scope="col">
                            <input type="checkbox"  />
                        </th>
                        <th class="col-2" scope="col">Company</th>
                        <th class="col-3" scope="col">Address 1</th>
                        <th class="col-3" scope="col">Address 2</th>
                        <th class="col-1" scope="col">Telephone</th>
                        <th class="col-2" scope="col">Position</th>
                    </tr>
                </thead>


                @*--- Body ---*@
                <tbody>
                    <tr class="col-12">
                        <td class="col-1"><input type="checkbox"  /></td>
                        <td class="col-2">Company Name</td>
                        <td class="col-3">Address 1</td>
                        <td class="col-3">Address 2</td>
                        <td class="col-1">Telephone</td>
                        <td class="col-2">Position</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-add-new-row">
                <button class="btn b-btn-primary-outline " id=""><i class="fa-solid fa-plus"></i> &nbsp; Add Employment Record</button>
            </div>
        </div>
    </form>
</section>
