@model HRMvc.Models.Pis._EmpmasMasterUiModel

<section>
    <h2 class="form-section-caption mt-0">Employment Details</h2>

    <form>
        @*SAVE BUTTON*@
        <div class="form-section-action">
            <button class="btn b-btn-primary">Save</button>
        </div>

        @*STATUS*@
        <div class="form-group d-md-flex">
            <label class="control-label">Status</label>
            <input class="form-control"  />
        </div>

        @*REMARKS*@
        <div class="form-group d-md-flex">
            <label class="control-label">Remarks</label>
            <textarea class="form-control"  rows="3" cols="50" ></textarea>
        </div>

        @*CLIENT*@
        <div class="form-group d-md-flex">
            <label class="control-label">Client</label>
            <input class="form-control"  />
        </div>
    </form>
</section>

