@model HRMvc.Models.Pis._EmpmasMasterUiModel


<form>
    <div class="form-section-action">
        <input type="submit" value="Save" class="btn b-btn-primary" />
    </div>

    @*IMAGE*@
    <div class="form-img-container"><i class="fa-solid fa-user-tie"></i></div>

    @*LAST NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpLastNm" class="control-label"></label>
        <input class="form-control text-capitalize" type="text" 
        data-val="true" 
        data-val-length="This field must not exceed 25 characters." 
        data-val-length-max="25" id="empmas_EmpLastNm" 
        maxlength="25" 
        name="empmas.EmpLastNm"
        v-model="rec.empmas.empLastNm">
    </div>

    @*FIRST NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpFirstNm" class="control-label"></label>
        <input class="form-control" type="text" 
                data-val="true" 
                data-val-length="This field must not exceed 25 characters." 
                data-val-length-max="25" 
                id="empmas_EmpFirstNm" 
                maxlength="25" 
                name="empmas.EmpFirstNm"
                v-model="rec.empmas.empFirstNm">
    </div>

    @*MIDDLE NAME*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpMidNm" class="control-label"></label>
        <input class="form-control" type="text" 
                data-val="true" 
                data-val-length="This field must not exceed 15 characters." 
                data-val-length-max="15" 
                id="empmas_EmpMidNm" 
                maxlength="15" 
                name="empmas.EmpMidNm"
                v-model="rec.empmas.empMidNm">
    </div>

    @*SUFFIX*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.Suffix" class="control-label"></label>
        <input class="form-control b-w-50" 
                type="text" 
                id="empmas_Suffix" 
                name="empmas.Suffix"
                v-model="rec.empmas.suffix">
    </div>

    @*ALIAS*@
    <div class="form-group d-md-flex">
        <label asp-for="empmas!.EmpAlias" class="control-label"></label>
        <input class="form-control b-w-50" type="text" 
            data-val="true" 
            data-val-length="This field must not exceed 15 characters." 
            data-val-length-max="15"
            id="empmas_EmpAlias" 
            maxlength="15" 
            name="empmas.EmpAlias"
            v-model="rec.empmas.empAlias">
    </div>
</form>

