<section class="complex-section-wrapper tab-with-line-indicator">
    <h2 class="form-section-caption mt-0">Family</h2>

    @*Inner Tab*@
    <nav>
        <ul class="secondary-tab">
            <button class="tab-btn active">General</button>
            <button class="tab-btn">Emergency Contact</button>
            <button class="tab-btn">Other Family Members</button>
            <span class="tab-line"></span>
        </ul>
    </nav>

    <div class="secondary-tabcontent-container">
        @******************************@
        @*----------GENERAL-----------*@
        @******************************@
        <partial name="PartialView/_112Employment/Family/_General" />


        @******************************@
        @*-----EMERGENCY CONTACT------*@
        @******************************@
        <partial name="PartialView/_112Employment/Family/_EmergencyContact" />


        @******************************@
        @*-----OTHER FAMILY MEMBERS------*@
        @******************************@
        <partial name="PartialView/_112Employment/Family/_OtherFamilyMembers" />
    </div>
</section>






