@model HRMvc.Models.Pis._EmpmasMasterUiModel

<section>
    <h2 class="form-section-caption mt-0">Government</h2>

    <form >
        @*SAVE BUTTON*@
        <div class="form-section-action">
            <button class="btn b-btn-primary">Save</button>
        </div>

        <div class="row b-row">
            @*--- Left Column---*@
            <div class="col-xl-5">

                @*SSS NUMBER*@
                <div class="form-group d-md-flex">
                    <label  class="control-label">SSS Number</label>
                    <input  class="form-control"  />
                </div>


                @*TIN*@
                <div class="form-group d-md-flex">
                    <label  class="control-label">TIN</label>
                    <input  class="form-control"  />
                </div>

                @*PAGIBIG NO*@
                <div class="form-group d-md-flex">
                    <label class="control-label">PAG-IBIG No.</label>
                    <input class="form-control"   />
                </div>

                @*PHIL HEALTH NO*@
                <div class="form-group d-md-flex">
                    <label class="control-label">PhilHealth No.</label>
                    <input class="form-control"   />
                </div>

                @*DRIVER'S LICENSE*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Drv Lic Expiration</label>
                    <input class="form-control" type="date"  />
                </div>

                @*DPA CONSENT SIGNED*@
                <div class="form-group d-md-flex">
                    <label class="control-label">DPA Consent Signed</label>
                    <input class="form-control" type="date"  />
                </div>
            </div>


            @*--- Right Column---*@
            <div class="col-xl-5">

                @*HDMF*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Drv Lic Expiration</label>
                    <input class="form-control"  />
                </div>

                @*BANK ACCT NO.*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Bank Account No.</label>
                    <input class="form-control"   />
                </div>

                @*BANK/BRANCH*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Bank/Branch</label>
                    <input class="form-control"  />
                </div>

                @*TAX TABLE CODE*@
                <div class="form-group d-md-flex">
                    <label class="control-label">Tax Table Code</label>
                    <select class="form-select"  > </select>
                </div>
            </div>
        </div>
    </form>
</section>

