/*--- Lg ----------------------------------------*/
@media screen and (min-width: 992px) {

    .signup-create-usercompany .submit-btn {
        padding-left: calc(185px + 1rem);
    }

    .signup-create-usercompany .submit-btn > input {
        max-width: 500px;
    }

    .signup-create-usercompany h2.form-section-caption {
        padding-left: 32px;
    }

    .b-pl-md-4 {
        padding-left: 2.5rem;
    }

    .right {
        position: unset;
        background: unset;
        justify-content: unset;
    }

    .right .backdrop {
        background: unset;
        padding: unset;
        height: 100% !important;
    }

    .right .form-width {
        width: 80%;
    }

    .left .card {
        height: 90%;
    }
}