/*--- xl ----------------------------------------*/
@media (min-width: 1200px){
    .main-body {
        background-color: unset;
        justify-content: end;
    }

    .main-body-center {
        width: 400px;
        background-color: rgb(255, 245, 245,.5);
    }


    .main-body-center-content {
        width: 100%;
    }

    .right .form-width {
        width: 70%;
    }
    

}

