.grid-wrapper {
    max-width: 1080px;
    max-height: 80vh;
    overflow: auto;
    border: 1px solid #ccc;
    position: relative;
}

.grid-header,
.grid-body {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.grid-row {
    display: flex;
}


.grid-cell {
    /*height: 70px;*/
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Custom column widths */
.col-1 { width: 175px; }
.col-2 { width: 50px; }
.col-default { width: 100px; }

/* Sticky header */
.grid-header {
    position: sticky;
    top: 0;
    z-index: 100;
    /*background-color: #343a40;*/
    color: white;
    height: 50px;
}

.grid-header .grid-cell {
    background-color: forestgreen;
    color: white;
    border-bottom: 2px solid #666;
    height: 50px;
}

/* Sticky columns */
.sticky-col-1 {
    position: sticky;
    left: 0;
    background-color: #f8f9fa;
    z-index: 5;
}

.sticky-col-2 {
    position: sticky;
    left: 175px; /* width of col-1 */
    background-color: #f8f9fa;
    z-index: 5;
}

/* Top-left cell stacking */
.grid-header .sticky-col-1,
.grid-header .sticky-col-2 {
    z-index: 10;
}

.div-qty input[type="number"] {
    padding: 2px !important;
    color: red !important;
}

.div-qty input[type="number"] {
    background-color: yellow !important;
    border: 2px solid red !important;
}

.pay-dtl {
    font-size: 0.600rem !important;
    /*color: #1b6ec2;*/
}
.pay-dt-lbl {}
.pay-dt-figure {
    
}