._504-lbl { padding: 5px 0; }
._504-frm { padding: 5px 0; }



@media screen and (min-width: 0px) and (max-width: 450px) {
    ._504_row { display:inline; }
    ._504-lbl {
        width: 100%;
    }

    ._504-frm {
        width: 80%; 
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    ._504_row { display:flex; }
    ._504-lbl { width: 150px; }
    ._504-frm {
        min-width: 451px;
        max-width: 600px; 
    }
}

@media screen and (min-width: 801px) and (max-width: 4320px) {
    ._504_row { display:flex; }
    ._504-lbl { width: 150px; }
    ._504-frm {
        min-width: 651px;
        max-width: 968px;  
    }
}