/* General styling for the container and items */
.responsive-div {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    /*gap: 5px; /* Adds spacing between items */
}

.item {
    background-color: lightblue;
    padding:    10px;
    text-align: center;
    border:     1px solid navy;
    box-sizing: border-box;
    flex:       1 1 100%; /* Default to 100% width for small screens */
}

/* Media query for medium screens (md) */
@media (min-width: 768px) {
    .item {
        flex: 1 1 calc(33.33% - 10px); /* Each item takes 1/3 of the row */
    }
}

/* Media query for large screens (lg) */
@media (min-width: 1024px) {
    .item {
        flex: 1 1 calc(33.33% - 10px); /* Keeps same layout for larger screens */
    }
}



@media screen and (min-width: 0px) and (max-width: 450px) {
    .w-125p {
        width:100%; 
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
}

@media screen and (min-width: 801px) and (max-width: 4320px) {

}