@using HRApiLibrary.DataAccess._00_Login.Interface;
@using HRApiLibrary.DataAccess._00_Main.Interface;
@inject IHttpClientFactory _factory;

@inject I_00MainPisAccess _mainPis;
@inject I_00_001_LoginAccess _login;

<h2 class="form-section-caption mt-0">Insurance</h2>


@code {
    private HttpClient? client;

    @*****************************************************************************@
    @*----- General Data -------*@
    @*****************************************************************************@
    [Parameter]
    public UserClaimsModel? userClaims { get; set; }
    public List<EmpmasInsuranceModel?>? empmasInsurance { get; set; }
}