
@{
    Layout = $"~/Views/Shared/Login/_Auth.cshtml";
}
<div id="main-hdr">
    main hdr 
</div>
<div id="main-body">
    
    
    <div id="main-body-left">main-body-left</div>

    <div id="main-body-center">
        main-body-center
        <partial name="_Login" /> 
    </div>
    
    <div id="main-body-right">main-body-right</div>

    
    
    
</div>

<div id="main-footer">

</div>

