@using HRApiLibrary.Models._10_Pis
@using HRApiLibrary.Models._90_Utils;
@using HRMvc.Applications._02HR._02Library


<div style="width:100%; overflow:auto; ">


    
    <RadzenTemplateForm TItem="PisEmpmasModel" Data=@empmas Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenFieldset Text="Employee Details" class="fw-bold">

            <div class="fw-normal">
                @* ----- EmpNumber (varchar(10))----------*@
                <div class="d-flex gap-2 p-1 mb-3" style="border-bottom:1px solid lightgray">
                    <div class="p-2 col-lg-2 col-md-3 fw-bold text-primary">Email </div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="emailaddress@dns.ext" MaxLength="60" class="w-75" @bind-Value=@V.Empmas!.Email /> 
                    </div>
                </div>

                @* ----- EmpNumber (varchar(10))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">Emp. No. </div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="0000000000" MaxLength="10" class="w-25" @bind-Value=@V.Empmas.EmpNumber />
                    </div>
                </div>


                @* ----- EmpLastNm (varchar(25))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">Last Name </div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="Emp. Last Name" MaxLength="45" class="w-75" @bind-Value=@V.Empmas.EmpLastNm />
                    </div>
                </div>



                @* ----- EmpFirstNm (varchar(25))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">First Name</div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="Emp. First Name" class="w-75" MaxLength="45" @bind-Value=@V.Empmas.EmpFirstNm />
                    </div>
                </div>

                @* ----- EmpMidNm (varchar(15))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">Mid. Name</div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="Emp Mid Name" class="w-75" MaxLength="45" @bind-Value=@V.Empmas.EmpMidNm />
                    </div>
                </div>


                @* ----- Suffix (char(3))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">Suffix</div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="Suffix" MaxLength="3" class="w-25" @bind-Value=@V.Empmas.Suffix />
                    </div>
                </div>

                @* ----- EmpAlias (varchar(15))----------*@
                <div class="d-flex gap-2 p-1">
                    <div class="p-1 col-lg-2 col-md-3">Alias</div>
                    <div class="p-1 col-lg-10 col-md-9">
                        <RadzenTextBox Placeholder="Emp. Alias" MaxLength="15" class="w-25" @bind-Value=@V.Empmas.EmpAlias />
                    </div>
                </div>
            </div>

        </RadzenFieldset>
    </RadzenTemplateForm>

</div>


@code {

    [Parameter]
    public V222             V        { get; set; } = new();

    [Parameter]
    public EventCallback ChildAction { get; set; }
     
    [Parameter]
    public UserClaimsModel? UserClaims { get; set; } = new();


    //-- Initialization ----------------
    RadzenDataGrid<PisEmpmasModel?>? empmassGrid = new();
    bool editMode = false;
    DataGridEditMode editMode1 = DataGridEditMode.Single;

    List<PisEmpmasModel?>?  empmass = new();
    PisEmpmasModel          empmas  = new();

    List<PisEmpmasModel?>? empmassToInsert = new();
    List<PisEmpmasModel?>? empmassToUpdate = new();
    string? errorMsg = string.Empty;

    protected override void OnParametersSet()
    {
    }

    void OnSubmit(PisEmpmasModel model)
    {

    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
    }

}
