@using HRApiLibrary.DataAccess._00_Main.Interface;
@using HRApiLibrary.Models._00_Main;
@using System.Security.Claims;
@using HRApiLibrary.Models._00_MainPis;
@using HRMvc.Views.BlazorPages._01MyProfile;
@model HRMvc.Models.Pis._EmpmasMasterUiModel


@inject I_00MainDA          _mainDA
@inject I_00MainPisAccess   _mainPisDA

@{
    ViewData["Title"] = "_111My201Records";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";

    IEnumerable<Claim?> claims = User.Claims;
    UserClaimsModel userClaims = _mainDA._02UserClaimsContent(claims);

}

<div id="_111My201Records">
    <div class="page-header">
        <h1 class="page-title">My 201 Records</h1>
    </div>

    <div class="page-body d-flex flex-column gap-5">
        
    </div>

</div>

