@using HRApiLibrary.DataAccess._00_Main.Interface;
@using HRApiLibrary.Models._00_Main;
@using HRMvc.Views.BlazorPages._01MyProfile;
@using System.Security.Claims;

@inject I_00MainDA          _mainDA

@{
    ViewData["Title"] = "_113Trainings";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";

    IEnumerable<Claim?> claims = User.Claims;
    UserClaimsModel userClaims = _mainDA._02UserClaimsContent(claims);

}


    <div class="page-body d-flex flex-column ">
    </div>












