@{
    ViewData["Title"] = "_114Uploadables";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";
}
<div class="page-header">
    <h1 class="page-title">Uplodables</h1>
</div>









@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Main/_01Tabs.js"></script>
}