@using System.Security.Claims
@using HRApiLibrary.DataAccess._00_Main.Interface
@using HRApiLibrary.Models._00_Main

@inject I_00MainDA _mainDA;

@{
    ViewData["Title"] = "133 Appointment";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";

    var userid = User.Claims.Where(c => c.Type == "UserId").FirstOrDefault();

    IEnumerable<Claim?> claims = User.Claims;
    UserClaimsModel userClaims = _mainDA._02UserClaimsContent(claims);

    List<int> nbr = new(){12,5,2,13,6,5,6 };


}



<div id="_112Employment">
    <div class="page-header">
        <h1 class="page-title">Appointment</h1>
    </div>
</div>

<div>

    
    @for(int ctr = 0; ctr < nbr.Count; ctr++) {


        int snum = int.Parse(nbr[ctr].ToString()) ;
        int idx = ctr + 1;

        for(int ctr1 = ctr + 1; ctr1 < nbr.Count ; ctr1++) {
            
            var snum1 = nbr[ctr1]; 
             
            if(snum1<snum) {
                snum        = nbr[ctr1];
                idx = ctr1; 
            }
        }
        if(snum < nbr[ctr]) {
            
            nbr[idx] = nbr[ctr];
            nbr[ctr] = snum; 
            
        }
    }

        @{ string? lst = string.Empty;

            foreach(var item in nbr) {
                lst = lst + item + ", "; 
            }

            
        }
        
        
    @* New ------------- *@
    @{
        List<int> a = new(){13,2,3,2, 15, 10, 5};
        int lnctr         = 0;
        string? lst1    = string.Empty; 
         

        foreach(var i in a) {
            lst1 = lst1 + i.ToString() + ", "; 
            lnctr++ ; 
        } 
        

    }





</div>