@using System.Security.Claims
@using HRApiLibrary.DataAccess._00_Main.Interface
@using HRApiLibrary.Models._00_Main

@inject I_00MainDA _mainDA;

@{
    ViewData["Title"] = "152 Schedule Deductions";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";

    var userid = User.Claims.Where(c => c.Type == "UserId").FirstOrDefault();

    IEnumerable<Claim?> claims = User.Claims;
    UserClaimsModel userClaims = _mainDA._02UserClaimsContent(claims);
}


<div id="_112Employment">
    <div class="page-header">
        <h1 class="page-title">Schedule Deductions</h1>
    </div>
</div>

