@{
    ViewData["Title"] = "_211PersonnelInformation";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";
}

<h1 class="page-title">Personnel Information</h1>
<hr style="margin-bottom:2.5rem;" />
