@{
    ViewData["Title"] = "_312PersonnelManagement";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";
}

<h1 class="page-title">Personnel Management</h1>
<hr style="margin-bottom:2.5rem;" />
