@{
    ViewData["Title"] = "_313AttendanceManagement";
    Layout = "~/Views/Shared/Main/_01MyProfileLayout.cshtml";
}

<h1 class="page-title">Attendance Management</h1>
<hr style="margin-bottom:2.5rem;" />
