@using HRApiLibrary.DataAccess._20_Pay.Interface
@using _00_Utility.Vars; 
@using HRApiLibrary.DataAccess._00_Main.Interface

@inject DialogService               _DialogService
@inject NotificationService         _NotificationService;
@inject I_00UserscompanyDataAccess  _userscompany; 
@inject NavigationManager           _nav; 
@inject I_00UsersAccess             _user; 

<RadzenColumn Size="12" SizeMD="6">
    <RadzenStack>
        <RadzenFieldset class="fw-bold" Text="Company Details">    
            <RadzenStack  Gap=".5rem">
                
                @* ---- Short Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Code"  /> <span class="text-danger">*</span>
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" 
                                @bind-value="userCompany.CompanySName" 
                                MaxLength="15" 
                                Name="ShortName"
                                Placeholder="Company Code" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Company Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Company Name"  />  <span class="text-danger">*</span>
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextBox Style="width: 100%;" 
                            @bind-value="userCompany.CompanyName" 
                            Name="CompanyName" 
                            MaxLength="120"
                            Placeholder="Morpheusbox Software" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Address *@
                <RadzenRow AlignItems="AlignItems.Normal">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Address"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextArea Rows="2" MaxLength="120" style="width: 100%;"  />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Telephone Number *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Telephone"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenStack>
        </RadzenFieldset>


        <RadzenFieldset class="fw-bold" Text="Bank Details">
            <RadzenStack  Gap=".5rem">
                
                @* ---- Account Number *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Account Number"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                    @* ---- Bank Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Bank Name"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" MaxLength="60" />
                    </RadzenColumn>
                </RadzenRow>

            </RadzenStack>
        </RadzenFieldset>

        <RadzenFieldset class="fw-bold" Text="References">
            <RadzenStack  Gap=".5rem">
                
                @* ---- T.I.N. *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="TIN. #"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- SSS *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="SSS #"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                    @* ---- PHIC *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="PHIC #"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Pagibig *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Pagibig #"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>


            </RadzenStack>
        </RadzenFieldset>
        <div class="col-12">
            <RadzenButton Click="Save" class="btn-block" Text="Save" style="width: 100%;" />
        </div>

        <div class="margin" style="height: 2rem;"></div>

    
    </RadzenStack>
</RadzenColumn>

@inject I_20_002_PayTblMaker            _payTblMaker; 
@inject I_00MainPisTblMakerAccess       _mainPisTblMaker; 
@inject I_00UserscompanyDataAccess      _usercompany; 
@inject I_AcctgTableMaker               _AcctgTableMaker; 

@code {

    UserCompanyModel userCompany = new(); 

    [Parameter]
    public UserClaimsModel? UserClaims  { get; set; } = new();

    [Parameter]
    public V00_Pay          V00         { get; set; } = new();

    async void Save() {

        var ans = await ValidateAllowSave();
        if(!ans) return; 

        userCompany.OwnerId     = UserClaims==null ? 0 : UserClaims.UserId;
        userCompany.CountryId   = 2; 
        userCompany.CurrencyId  = 2; 

        var res = await _userscompany._01(userCompany); 
        
        if(res?.PaySchema != null)
        {
            if (res.PaySchema.Length > 0)
            {
                var userId               = UserClaims?.UserId; 
                var schemauser          = "U" + UserClaims?.UserId.ToString().Trim(); 
                var prefix              = schemauser+ "C" + res.Id.ToString().Trim();
                var schemapis           = prefix + "pis";
                var schemapay           = prefix + "pay";
                var schemaacctg         = prefix + "acctg";
                var conn                = UserClaims?.Conn;
                
                
                await _mainPisTblMaker._01UserTable(schemauser, conn ?? "MySqlConn");
                _mainPisTblMaker._01MainPisTableInternal(schemapis, conn ?? "MySqlConn");
                await _payTblMaker._01(schemapay, conn ?? "MySqlConn");
                await _payTblMaker._01PH(schemapay, conn ?? "MySqlConn");
                await _AcctgTableMaker.AccountingTableMaker(schemaacctg, conn ?? "MySqlConn");

                var user = await _user._02ById(userId ?? 0);
                if (user?.Id > 0)
                {
                    
                    user.DefaultCoId = res.Id;
                    await _user._03ChangeDefaultCompany(userId??0, res.Id); 
                }
            }
        }
        
        _nav.NavigateTo($"00",true); 
        StateHasChanged(); 
    
    }

    async Task<bool> ValidateAllowSave () {
        var code      = userCompany?.CompanySName; 
        var coname          = userCompany?.CompanyName; 
        
        if(code?.Length < 1) {
           await _DialogService.OpenAsync("Invalid Entry", ds =>
                    @<div> Company Code should not be empty.</div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
            return false; 
        }

        if(coname?.Length < 1) {
           await _DialogService.OpenAsync("Invalid Entry", ds =>
                    @<div> Company name is not valid.</div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
            return false; 
        }

        var res = await _userscompany._02ByCompanySName(code!); 
        if (res!=null) {
            if(res.Count > 0 ) {
                await _DialogService.OpenAsync("Invalid Entry", ds =>
                    @<div> Company Code already exist.</div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
                return false; 
            }
        }
        return true; 
    }
}