@using _00_Utility.Vars; 

<RadzenColumn Size="12" SizeMD="6">
    <RadzenStack>
        <RadzenFieldset class="fw-bold" Text="Company Details">    
            <RadzenStack  Gap=".5rem">
                
                @* ---- Short Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Short Name"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Company Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Company Name"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" MaxLength="60" />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Address *@
                <RadzenRow AlignItems="AlignItems.Normal">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Address"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextArea Rows="2" MaxLength="120" style="width: 100%;"  />
                    </RadzenColumn>
                </RadzenRow>

                @* ---- Telephone Number *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Telephone"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenStack>
        </RadzenFieldset>


        <RadzenFieldset class="fw-bold" Text="Bank Details">
            <RadzenStack  Gap=".5rem">
                
                @* ---- Account Number *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Account Number"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

                    @* ---- Bank Name *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="Bank Name"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" MaxLength="60" />
                    </RadzenColumn>
                </RadzenRow>

            </RadzenStack>
        </RadzenFieldset>

        <RadzenFieldset class="fw-bold" Text="References">
            <RadzenStack  Gap=".5rem">
                
                @* ---- S.I.N. *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3" SizeLG="2">
                        <RadzenLabel Text="SIN. #"  />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="4" >
                        <RadzenTextBox Style="width: 100%;" Name="ShortName" />
                    </RadzenColumn>
                </RadzenRow>

            </RadzenStack>
        </RadzenFieldset>

        <div class="col-12">
            <RadzenButton class="btn-block" Text="Save" style="width: 100%;" />
        </div>

    
    </RadzenStack>
</RadzenColumn>



@code {

    [Parameter]
    public UserClaimsModel? UserClaims  { get; set; } = new();

    [Parameter]
    public V00_Pay          V00         { get; set; } = new();

}