@using HRApiLibrary.Models._20_Pay
@using HRMvc.Applications._03Payroll.Views.BlazorPages._00_Utility.Vars
@using HRMvc.Applications._03Payroll.Views.BlazorPages._05_Management._0503.Items._0503_01_01

<div class="w-100 border border-1 rounded-2 p-2">
    <div class="text-white fw-bold p-2 " style="border-bottom:3px double white; background-color:darkgreen">RATES SETTINGS</div>

    <div class="rs-hdr-wrapper d-flex">

        <_0503_01_01_01_Hdr />

        <div class="rs-hdr-border-bott rs-hdr-btn-multiplier ">
            <button class="btn btn-sm btn-secondary">Set Rates based on <br /> Multiplier</button>
        </div>
    </div>



    @if(!showAdd)
    {
        <br />
        <div class="w-100 p-2"><btn class="btn btn-sm btn-secondary" @onclick="@(()=>ShowHideEntry("Add New"))">Add Account</btn> </div>
    } else
    {
        <div class="w-100">
            <_0503_01_01_03_Dtl_Edit ChildAction=ChildActionCatcher V00=@V00 V503=@V503 mode=@mode    />
        </div>
    }

    




</div>

@code {

    bool showAdd    = false;
    string mode     = "Add New"; 

    [Parameter]
    public PayrollgrpModel? payrollGrp { get; set; } = new(); 

    [Parameter]
    public V503? V503 { get; set; } = new();

    [Parameter]
    public V00_Pay? V00 { get; set; } = new();

    [Parameter]
    public EventCallback ChildAction { get; set; }

    protected override void OnParametersSet()
    {

    }

    void ChildActionCatcher()
    {
        if (V00!.Action == "Close") showAdd = false; 
    }


    async Task _02PayrollgrpRates()
    {
        //var res = 
    }

    void ShowHideEntry(string actionMode="Add New")
    {
        showAdd = !showAdd;
        mode    = actionMode; 
    }

}
