@using HRMvc.Applications._03Payroll.Views.BlazorPages._00_Utility.Vars
<div class="w-100 border border-1 rounded-2 p-2">

    <div class="text-white fw-bold p-2 " style="border-bottom:3px double white; background-color:darkgreen">DEPLOYED PERSONNEL</div>

    @*--- Deployed Personnel Header  Wrapper -----------------  *@
    <div class="rs-hdr-wrapper d-flex gap-2 mt-1">
        <div class="dp-empno rs-hdr-border p-2">Emp. No.</div>
        <div class="dp-employee-name rs-hdr-border p-2">Employee Name</div>
        <div class="dp-employee-status rs-hdr-border p-2">Status</div>
        <div class="dp-action rs-hdr-border p-2">Action</div>
    </div>

    @*--- Deployed Personnel Detail Wrapper -----------------  *@
    @* ---- Record 1  *@
    <div class="dp-dtl-wrapper d-flex gap-2 mt-1">
        <div class="dp-empno border-bottom-dashed p-1">00500</div>
        <div class="dp-employee-name border-bottom-dashed p-1">
            Dela Cruz, Juan Santos 
        </div>
        <div class="dp-employee-status border-bottom-dashed p-1">Active</div>
        <div class="dp-action border-bottom-dashed p-1">
            <btn class="btn btn-sm btn-danger">Del</btn>
            <btn class="btn btn-sm btn-primary">Settings</btn>

        </div>
    </div>
    
    @* ---- Record 2  *@
    <div class="dp-dtl-wrapper d-flex gap-2 mt-1">
        <div class="dp-empno border-bottom-dashed p-1">00501</div>
        <div class="dp-employee-name border-bottom-dashed p-1">
            Santos, Juan Dela Cruz
        </div>
        <div class="dp-employee-status border-bottom-dashed p-1">Active</div>
        <div class="dp-action border-bottom-dashed p-1">
            <btn class="btn btn-sm btn-danger">Del</btn>
            <btn class="btn btn-sm btn-primary">Settings</btn>

        </div>
    </div>



</div>

@code {

    [Parameter]
    public      V503?       V503    { get; set; } = new();

    
    [Parameter]
    public      V00_Pay?    V00     { get; set; } = new();


    void New()
    {

    }



}
