
<div class="w-100 border border-1 rounded-2 p-2">
    <div class="text-white fw-bold p-2 " style="border-bottom:3px double white; background-color:darkgreen">RATES SETTINGS</div>
    
    <div class="rs-hdr-wrapper d-flex">

        <div class="account-name rs-hdr-account-name">Account Name</div>
        
        <div class="rs-hdr-rates">
            <div class="rs-hdr-border w-100 p-1 ">Rates</div>
            <div class="d-flex w-100">

                <div class="rs-hdr-border-lr p-1 w-25 text-center">
                    Hour
                </div>
                <div class="rs-hdr-border-bott rs-hdr-border-right
                            p-1 w-25 text-center">
                    Day
                </div>
                <div class="rs-hdr-border-bott p-1 w-25 text-center">
                    Month
                </div>
                <div class="rs-hdr-border-lr p-1 w-25 text-center ">
                    Year
                </div>

            </div>
            
        </div>
        
        <div class="rs-hdr-border-bott rs-hdr-btn-multiplier ">
            <button class="btn btn-sm btn-secondary">Set Rates based on <br /> Multiplier</button>
        </div>


    </div>


    @* --- Details  ---------------------------- *@
    @* **--- Record 1  *@
    <div class="rs-dtl-wrapper d-flex p-1">

        <div class="rs-dtl-acct-name">
           Basic Pay
        </div>

        <div class="rs-dtl-rates ">
            <div class="d-flex w-100">

                <div class="p-1 w-25 text-center">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerHr"
                                   Min="0"
                                   Max="99999"
                                   Format="#,##0.00"
                                   Placeholder="0"
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>
                <div class="p-1 w-25 text-center">
                    <RadzenNumeric  TValue      ="double" 
                                    @bind-Value ="V503.PayrollGroup.RatePerDay" 
                                    Min         ="0"
                                    Max         ="99999"
                                    Format      ="#,##0.00" 
                                    Placeholder ="0" 
                                    TextAlign   ="Radzen.TextAlign.End" 
                                    ShowUpDown  =false />
                </div>
                <div class="p-1 w-25 text-center">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerMonth"
                                   Min="0"
                                   Max="9999999"
                                   Format="#,##0.00"
                                   Placeholder="0"
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>
                <div class="p-1 w-25 text-center ">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerHr"
                                   Min="0"
                                   Max="99999999"
                                   Format="#,##0.00"
                                   Placeholder="0"
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>

            </div>

        </div>

        <div class="rs-dtl-btn p-2">
            <RadzenButton Text="Clear" />
        </div>

    </div>

    @* **--- Record 2 --------------- *@
    <div class="rs-dtl-wrapper d-flex p-1">

        <div class="rs-dtl-acct-name">
            Over-time Pay
        </div>

        <div class="rs-dtl-rates ">
            <div class="d-flex w-100">

                <div class="p-1 w-25 text-center">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerHr"
                                   Min="0"
                                   Max="99999"
                                   Format="#,##0.00"
                                   Placeholder="0"
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>
                <div class="p-1 w-25 text-center">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503.PayrollGroup.RatePerDay"
                                   Min="0"
                                   Max="99999"
                                   Format="#,##0.00"
                                   Placeholder="0" Disabled
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>
                <div class="p-1 w-25 text-center">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerMonth"
                                   Min="0"
                                   Max="9999999"
                                   Format="#,##0.00"
                                   Placeholder="0" Disabled
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>
                <div class="p-1 w-25 text-center ">
                    <RadzenNumeric TValue="double"
                                   @bind-Value="V503!.PayrollGroup!.RatePerHr"
                                   Min="0"
                                   Max="99999999"
                                   Format="#,##0.00"
                                   Placeholder="0" Disabled
                                   TextAlign="Radzen.TextAlign.End"
                                   ShowUpDown=false />
                </div>

            </div>

        </div>

        <div class="rs-dtl-btn p-2">
            <RadzenButton Text="Clear" />
        </div>

    </div>

    <br />
    <div class="w-100 p-2"><btn class="btn btn-sm btn-secondary">Add Account</btn> </div>
    
    


</div>

@code {

    [Parameter]
    public  V503?           V503        { get; set; } = new(); 

}
