<table class="w-100">
    @*--- Header ---*@
    <thead>
        <tr class="col-12">
            <th class="b-col-checkbx" scope="col">
                <input type="checkbox" />
            </th>
            <th class="col-3" scope="col">Name</th>
            <th class="col-2 b-d-sm-none" scope="col">Birth</th>
            <th class="col-2 b-d-sm-none" scope="col">Gender</th>
            <th class="col-2" scope="col">Relationship</th>
            <th class="col-2" scope="col">Action</th>
        </tr>
    </thead>


    @*--- Body ---*@
    <tbody>
        <tr class="col-12">
            <td class="b-col-checkbx"><input type="checkbox" /></td>
            <td class="col-3 text-truncate">User 1</td>
            <td class="col-2 b-d-sm-none">01/01/2023</td>
            <td class="col-2 b-d-sm-none">Female</td>
            <td class="col-2">Sister</td>
            <td class="col-2">
                <button type="button" data-bs-toggle="modal" data-bs-target="#famGeneralRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                <button type="button" data-bs-toggle="modal" data-bs-target="#famGeneralCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
            </td>
        </tr>

        <tr class="col-12">
            <td class="b-col-checkbx"><input type="checkbox" /></td>
            <td class="col-3 text-truncate">User 1</td>
            <td class="col-2 b-d-sm-none">01/01/2023</td>
            <td class="col-2 b-d-sm-none">Female</td>
            <td class="col-2">Sister</td>
            <td class="col-2">
                <button type="button" data-bs-toggle="modal" data-bs-target="#famGeneralRightModal"><i class="fa-solid fa-pen-to-square icon-update"></i></button> <span class="icon-divider"> | </span>
                <button type="button" data-bs-toggle="modal" data-bs-target="#famGeneralCenterModal"><i class="fa-solid fa-trash-can icon-delete"></i></button>
            </td>
        </tr>
    </tbody>
</table>