@using HRMvc.Applications._02HR._02Library



@* ----- PresAddStreet (varchar(45))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">Street </div>
    <div class="w-80">
        <RadzenTextBox Placeholder="Address 1 - Street" class="w-100" @bind-Value=@V.Empmasaddress.PresAddStreet MaxLength="45" />
    </div>
</div>


@* ----- PresAddBrgy (varchar(45))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">Barangay </div>
    <div class="w-80">
        <RadzenTextBox Placeholder="Address 2 - Barangay" class="w-100" @bind-Value=@V.Empmasaddress.PresAddBrgy MaxLength="45" />
    </div>
</div>


@* ----- PresAddProvId (int(11))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">Province/State </div>
    <div class="w-80">
        <RadzenDropDown TValue="int" @bind-Value=@V.Empmasaddress.PresAddProvId
                        Data=@V03.Provinces TextProperty="Name" ValueProperty="Id" Style="width: 100%; max-width: 400px;" Name="ddProvinces" />
    </div>
</div>

@* ----- PresAddCityId (int(11))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">City</div>
    <div class="w-80">
        <RadzenDropDown TValue="int" @bind-Value=@V.Empmasaddress.PresAddCityId
                        Data=@V03.Citys TextProperty="CityName" ValueProperty="Id" Style="width: 100%; max-width: 400px;" Name="ddProvinces" />
    </div>
</div>

@* ----- PresAddZipCode (varchar(10))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">Zip Code</div>
    <div class="w-80">
        <RadzenTextBox Placeholder="Area Code" class="w-50" @bind-Value=@V.Empmasaddress.PresAddZipCode MaxLength="10" />
    </div>
</div>

@* ----- PresAddTelNo (varchar(45))----------*@
<div class="w-100 d-flex p-2">
    <div class="w-20 p-2">Tel No(s)</div>
    <div class="w-80">
        <RadzenTextBox Placeholder="Telephone / Mobile Number" class="w-50" @bind-Value=@V.Empmasaddress.PresAddTelNo MaxLength="45" />
    </div>
</div>


@* ----- PresAdd (varchar(200))----------*@
<RadzenFieldset Text="Complete Address">
    <RadzenTextArea Placeholder="Complete Address" class="w-100" @bind-Value=@V.Empmasaddress.PresAdd Rows="3" Columns="30" MaxLength="200" />
</RadzenFieldset>




@code {

    [Parameter]
    public V222 V { get; set; } = new();

    [Parameter]
    public V222_03 V03 { get; set; } = new();


    [Parameter]
    public EventCallback ChildAction { get; set; }

}
