@using HRMvc.Applications._02HR._02Library


<h3>_222_03_Tab2_PH</h3>

@code {

    [Parameter]
    public V222             V               { get; set; } = new();
     
    [Parameter]
    public EventCallback    ChildAction     { get; set; }

}
