@using HRMvc.Views.BlazorPages.Vars


<div class="mt-2 bordered p-2 br-6">
    <div class="d-flex gap-3">
        <div class="w-150p p-1 bordered-bottom text-center">User Id</div>
        <div class="w-100 fw-semibold p-1 bordered-bottom bg-secondary bg-opacity-10">@V.PisEmpmas?.SystemId</div>
    </div>
    
    <div class="d-flex gap-3 mt-1">
        <div class="w-150p p-1 bordered-bottom text-center">Emp. No.</div>
        <div class="w-100 fw-semibold p-1 bordered-bottom  bg-secondary bg-opacity-10">@V.PisEmpmas?.EmpNumber</div>
    </div>
    
    <div class="d-flex gap-3 mt-1">
        <div class="w-150p p-1 bordered-bottom text-center">Emp. Name</div>
        <div class="w-100 fw-bold p-1 bordered-bottom  bg-secondary bg-opacity-10 text-success">
            <h3>@V.PisEmpmas?.Fullname</h3>
        </div>
    </div>

    <div class="d-flex gap-3 mt-1">
        <div class="w-150p p-1 bordered-bottom text-center">Company Name</div>
        <div class="w-100 fw-semibold p-1 bordered-bottom  bg-secondary bg-opacity-10">
            @V.UserCompany?.CompanyName
        </div>
    </div>

</div>







@code {
    
    [Parameter] public V131 V { get; set; } = new();
    
    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    

 


}