@using HRApiLibrary.DataAccess._00_Main.Interface
@using System.Security.Claims
@using HRApiLibrary.Models._00_Main
@using HRMvc.Applications.PayrollReport 
@using Microsoft.Extensions.Configuration
@using HRMvc.Applications.PayrollReport.Views.Blazor

@inject I_00MainDA _mainDA
@inject IConfiguration _config;

@{
    Layout = "~/Views/Shared/Main/_ReportLayout1.cshtml";
    var userid = User.Claims.Where(c => c.Type == "UserId").FirstOrDefault();
    IEnumerable<Claim?> claims = User.Claims;
    UserClaimsModel userClaims = _mainDA._02UserClaimsContent(claims);
}

@(await Html.RenderComponentAsync<_1202_RepEarningsSummary>(RenderMode.ServerPrerendered, new { UserClaims = userClaims }))

<div>1102</div>