@*--- Button to trigger data entry modal ---*@
<div class="form-section-action" style="margin-top: -1.5rem;">
    <button type="button" class="btn b-btn-primary-outline" data-bs-toggle="modal" data-bs-target="#famGeneralRightModal"><span class="fa-solid fa-plus btn-icon"></span> Add Family Member </button>
</div>

@*--- Data List ---*@
<partial name="PartialView/_111My201Records/Family/General/_DataList"></partial>

@*--- Data Entry ---*@
<partial name="PartialView/_111My201Records/Family/General/Modal/_DataEntryModal"></partial>

@*--- Delete Confirmation ---*@
<partial name="PartialView/_111My201Records/Family/General/Modal/_DeleteConfirmationModal"></partial>

