@*--- Button to trigger data entry modal ---*@
<div class="form-section-action" style="margin-top: -1.5rem;">
    <button type="button" class="btn b-btn-primary-outline" data-bs-toggle="modal" data-bs-target="#famRelativesRightModal"><span class="fa-solid fa-plus btn-icon"></span> Add Other Relative </button>
</div>

@*--- Data List ---*@
<partial name="PartialView/_111My201Records/Family/Relatives/_DataList"></partial>

@*--- Data Entry ---*@
<partial name="PartialView/_111My201Records/Family/Relatives/Modal/_DataEntryModal"></partial>

@*--- Delete Confirmation ---*@
<partial name="PartialView/_111My201Records/Family/Relatives/Modal/_DeleteConfirmationModal"></partial>

