@using HRMvc.Views.BlazorPages._01MyProfile.Empmas201Dtl.FamilyContent
@using HRApiLibrary.DataAccess._00_Main.Interface;

@inject I_00MainPisAccess _mainPis

<h2 class="form-section-caption mt-0">Family</h2>

<RadzenTabs Change=@OnChange TabPosition="@TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        <RadzenTabsItem Text="General">
            <_General UserClaims="@userClaims" />
         </RadzenTabsItem>
            
        <RadzenTabsItem Text="Emergency Contact">
            <_EmergencyContact2 UserClaims="@userClaims" />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Relatives">
            <_Relatives UserClaims="@userClaims" />
        </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

@code {

    [Parameter]
    public UserClaimsModel? UserClaims { get; set; } = new();

    public UserClaimsModel? userClaims { get; set; } = new();

    protected override void OnParametersSet()
    {
        if (UserClaims is null) return;
        userClaims = UserClaims;
    }

    void OnChange(int index)
    {
    }

}

