body {
    background: url("/images/login-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.auth-main{
   position:absolute; 
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
}



#main-body{
    display: flex;
    /* background-color: rgb(255, 245, 245,.5); */
    height: 100%;
    width: 100%;


    /* border : 3px solid rgb(145, 10, 10);  */
}
#main-body-left{
    display: none;

    border : 1px solid blueviolet; 
}
#main-body-center{
    width: 100%;
    background-color: rgb(255, 245, 245,.5);

    border : 1px solid rgb(12, 110, 25); 
}
#main-body-right{
    display:none;

    border : 1px solid rgb(185, 115, 9); 
}

/*--- Medium ----------------------------------------*/
@media screen and (min-width: 640px) {
    #main-body{
        background-color: rgba(250, 252, 251, 0.3);
        justify-content: center;

    }
    
    #main-body-center{
        width: 90%;
        border : 1px solid rgb(12, 110, 25); 
    }
}



