/*
sm : @media (min-width: 640px)
md : @media (min-width: 768px)
lg : @media (min-width: 1024px)
xl : @media (min-width: 1280px)
2xl : @media (min-width: 1536px)

*/

#main-hdr{
    position:fixed;
    top:0;
    left:0;
    height:60px;
    width:100%;
    background-color:green;
}

#main-body{
    height: calc(100vh - 60px);
    width:100%;
    background: url('~/images/login-bg.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    
}

#main-body-left{

}

#main-body-content{

}

#main-footer{

}




