@using HRMvc.Applications._02HR._02Library
<div class="border">
    <div class="d-flex fw-bold  border-2 border-bottom">
        <div class="col-4 p-1">Date </div>
        <div class="col-4 p-1">Remarks</div>
        <div class="col-4 p-1">Status</div>
    </div>

    @if(V?.EmpTranmovement != null)
    {
        <div class="d-flex   border-2 border-bottom">
            <div class="col-4 p-1">@V.EmpTranmovement.DateRecorded </div>
            <div class="col-4 p-1">@V.EmpTranmovement.Remarks</div>
            <div class="col-4 p-1">@V.EmpTranmovement.EmpStatus</div>
        </div>
    } else
    {
        <div class="p-1 text-center"> No records to display.</div>
    }




</div>
@code {

    [Parameter] public V245? V { get; set; } = new();
    [Parameter] public UserClaimsModel? UserClaims { get; set; } = new();
    [Parameter] public EventCallback ChildAction { get; set; }

}
