/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_00_Utility/_00_PeriodComponent.razor.rz.scp.css */
.prd-text[b-33lcv5fub1] {
    color: maroon;
}
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_00_Utility/_00_PeriodTemplate-short.razor.rz.scp.css */
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_00_Utility/_00_PeriodTemplate.razor.rz.scp.css */
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_05_Management/_0506/_0506_01/_0506_01_01_FindUser.razor.rz.scp.css */
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_06/_0600/_06000_EmpInfo_01_SearchResult.razor.rz.scp.css */
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_06/_0602/_0602_11/_0602_11_Grid.razor.rz.scp.css */
/* _content/HRMvc/Applications/_03Payroll/Views/BlazorPages/_06/_0603_LoanManagement.razor.rz.scp.css */
.t1[b-acubbhzd70] {color: red; background-color:blue;  }

.test-style[b-acubbhzd70] {
    color: blue;
    font-size: 18px;
}
/* _content/HRMvc/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-f403e72q1k] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-f403e72q1k] {
  color: #0077cc;
}

.btn-primary[b-f403e72q1k] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-f403e72q1k], .nav-pills .show > .nav-link[b-f403e72q1k] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-f403e72q1k] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-f403e72q1k] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-f403e72q1k] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-f403e72q1k] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-f403e72q1k] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
