@model HRMvc.Models.Authentication.LoginUiModel

@{
    Layout              = "~/Views/Shared/Authentication/_AuthenticationLayout.cshtml";
    var coName   = ViewData["CoName"];
    var exclusive       = ViewData["Exclusive"] as String;
    string register     = "register";
    if (exclusive       != "true") register = "registerOrdinary";

    string? errorMsg    = ViewData["ErrorMsg"] as String;
}



@*---- MAIN BODY ----*@
<div class="position-relative bg-white w-100 h-100 d-flex overflow-hidden">
    <div class="right  rounded col-12 col-lg-7 p-3 p-lg-4 d-flex flex-column align-items-center h-100 gap-5 ">
        <div class="backdrop d-flex flex-column h-100">
            <div class="border-bottom border-2 text-center w-100 p-1">
                <h1 >@coName</h1>
                <div class="bg-success mt-2" style="height:5px">&nbsp;</div>
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center  w-100 h-100">

                <div class="d-flex flex-column gap-5 form-width ">
                    <div>
                        <h2 class="page-title">Employee Portal Access</h2>
                        <p class="body-text-lg mt-2">Enter your credentials below to access your account</p>
                    </div>



                    <form action="/login" method="post" class="d-flex gap-5 flex-column">
                        <div >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*---- EMPLOYEE NUMBER ----*@
                            <div class="form-group d-md-flex">
                                <label asp-for="EmpNumber" class="control-label flex-nowrap"></label>
                                <div class="w-100">
                                    <input asp-for="EmpNumber" class="form-control" />
                                    <span asp-validation-for="EmpNumber" class="err-input-msg text-danger"></span>
                                </div>

                            </div>

                            @*---- PASSWORD ----*@
                            <div class="form-group d-md-flex">
                                <label asp-for="Password" class="control-label"></label>
                                <div class="w-100">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="err-input-msg text-danger"></span>
                                </div>
                            </div>
                        </div>
                       

                        <div class="d-flex flex-column gap-3">
                            @*---- LOGIN BUTTON ----*@
                            <input type="submit" value="Login" class="btn b-btn-primary w-100" />
                            @*<div>
                                <p class="body-text-lg mt-2">Don't have an account? Register <a asp-controller="Authentication" asp-action="@register" class="link-primary">here</a>.</p>
                            </div>*@
                        </div>
                    </form>


                  

                </div>
            </div>

            <div class="mt-auto border rounded p-3" style="background:#e6f2ee">
                <p class="small">
                    <b>Disclaimer : </b>
                    This commercial application contains proprietary and confidential information of <b>@coName</b> 
                    Access is limited to authorized users only. Use of this system constitutes consent to monitoring and 
                    compliance with applicable data protection and privacy laws.
                </p>
            </div>
        </div>

    </div>

    <div class="left border border-left  bg-primary col-12 col-lg-5" style="padding-top: 95px;">
        <div class="bg-white p-md-3 h-100" >
            <h2 class="p-3 text-center">Business Solution Application</h2>
            <div class="card rounded" >
                <img src="~/images/login-bg.jpg" class="h-100 opacity-75" style="object-fit:cover">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

