@{
    Layout = "~/Views/Shared/Authentication/_AuthenticationLayout.cshtml";
    var coName = ViewData["CoName"];
}

@*---- MAIN HEADER ----*@
<header class="main-hdr">
    <nav class="navbar" aria-label="top-navbar">
        <div class="container-fluid">
            <a class="co-info">
                <span class="co-logo"></span>
                <p class="co-name">
                    @if (coName != null) {@coName}
                </p>
            </a>
        </div>
    </nav>
</header>


@*---- MAIN BODY ----*@
<div class="main-body">
    <div class="main-body-center">
        <partial name="PartialView/_Register" />
    </div>
</div>

<div class="main-footer">
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }

